<div class="row">
    <div class="col-md-3 hidden-xs hidden-sm">
        <h6>{{ 'personal.martina.part2.article-2-1-1'|trans }}</h6>
    </div>
    <div class="col-md-9">
        <h6>{{ 'personal.martina.part2.article-2-1-2'|trans }}</h6>
    </div>
</div>
<div class="row">
    <div class="col-md-3 hidden-xs hidden-sm">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.type'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.article-2-2'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 hidden-xs hidden-sm">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.authors'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.article-2-3'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 hidden-xs hidden-sm">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.journal'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.article-2-4'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 hidden-xs hidden-sm">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.abstract'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.article-2-5'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 hidden-xs hidden-sm">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.status'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9 both-sides-text-alignment">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.article-2-6'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 hidden-xs hidden-sm">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.citation'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9 both-sides-text-alignment">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.article-2-7'|trans }}
        </p>
    </div>
</div>