<div id="book-1">
    <div class="row margin-top-30">
        <div class="col-md-3 hidden-xs hidden-sm">
            <h6>{{ 'personal.martina.part2.book-1-1-1'|trans }}</h6>
        </div>
        <div class="col-md-9">
            <h6>{{ 'personal.martina.part2.book-1-1-2'|trans }}</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm">
            <p class="margin-bottom-0">
                <b>{{ 'basic_words.type'|trans }}</b>
            </p>
        </div>
        <div class="col-md-9">
            <p class="margin-bottom-0 both-sides-text-alignment">
                {{ 'personal.martina.part2.book-1-2'|trans }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm">
            <p class="margin-bottom-0">
                <b>{{ 'basic_words.author'|trans }}</b>
            </p>
        </div>
        <div class="col-md-9">
            <p class="margin-bottom-0 both-sides-text-alignment">
                {{ 'personal.martina.part2.book-1-3'|trans }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm">
            <p class="margin-bottom-0">
                <b>{{ 'basic_words.publisher'|trans }}</b>
            </p>
        </div>
        <div class="col-md-9">
            <p class="margin-bottom-0 both-sides-text-alignment">
                {{ 'personal.martina.part2.book-1-4'|trans }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm">
            <p class="margin-bottom-0">
                <b>{{ 'basic_words.ISBN'|trans }}</b>
            </p>
        </div>
        <div class="col-md-9">
            <p class="margin-bottom-0 both-sides-text-alignment">
                {{ 'personal.martina.part2.book-1-5'|trans }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm">
            <p class="margin-bottom-0">
                <b>{{ 'basic_words.citation'|trans }}</b>
            </p>
        </div>
        <div class="col-md-9">
            <p class="margin-bottom-0 both-sides-text-alignment">
                <span>{{ 'personal.martina.part2.book-1-6-1'|trans }}</span>
                <i>{{ 'personal.martina.part2.book-1-6-2'|trans }}</i>
                <span>{{ 'personal.martina.part2.book-1-6-3'|trans }}:</span>
                <span>{{ 'personal.martina.part2.book-1-6-4'|trans }}</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm">
            <p class="margin-bottom-0">
                <b>{{ 'basic_words.avilable'|trans }} {{ 'basic_words.online'|trans }}</b>
            </p>
        </div>
        <div class="col-md-9 both-sides-text-alignment">
            <p class="margin-bottom-0">
            <span>
                <b>
                    <a class="text-color-primary" target="_blank" href={{ path('app_book_main_introudction') }}>
                        {{ 'basic_words.here'|trans }}
                    </a>
                </b>
            </span>
            </p>
        </div>
    </div>
</div>
