{# HEADING - EDUCATION AND QUALIFICATION #}
<div class="row margin-top-30">
    <div class="col-md-12">
        <div class="list-heading uppercase-transform">
            <div class="icon-box-h6">
                <div class="ib-icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="ib-info ">
                    <h6>{{ 'personal.martina.part4.headlie'|trans }}</h6>
                </div>
            </div>
        </div>
    </div>
</div>

{# CONTENT #}
<div class="row">
    <div class="col-md-3">
        <h6>{{ 'personal.martina.part4.text-1-1'|trans }}</h6>
        <p>
            <b>{{ 'personal.programme'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <h6>{{ 'personal.martina.part4.text-1-2'|trans }}</h6>
        <p class="margin-bottom-0">{{ 'personal.martina.part4.text-1-2-1'|trans }}</p>
        <p class="margin-bottom-0">{{ 'personal.martina.part4.text-1-2-2'|trans }}</p>
        <p class="margin-bottom-0">{{ 'personal.martina.part4.text-1-2-3'|trans }}</p>
    </div>
</div>
<div class="row margin-top-30">
    <div class="col-md-3">
        <h6>{{ 'personal.martina.part4.text-2-1'|trans }}</h6>
        <p class="margin-bottom-0">
            <b>{{ 'personal.programme'|trans }}</b>
        </p>
        <p class="margin-bottom-0">
            <b>{{ 'personal.degree'|trans }}</b>
        </p>
        <p class="margin-bottom-0">
            <b>{{ 'personal.graduation'|trans }}</b>
        </p>
        <p class="margin-bottom-0">
            <b>{{ 'personal.thesis'|trans }}</b>
        </p>
        <p class="margin-bottom-0">
            <b>{{ 'personal.goal'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <h6>{{ 'personal.martina.part4.text-2-2'|trans }}</h6>
        <p class="margin-bottom-0">{{ 'personal.martina.part4.text-2-2-1'|trans }}</p>
        <p class="margin-bottom-0">{{ 'personal.martina.part4.text-2-2-2'|trans }}</p>
        <p class="margin-bottom-0">{{ 'personal.martina.part4.text-2-2-3'|trans }}</p>
        <p class="margin-bottom-0">{{ 'personal.martina.part4.text-2-2-4'|trans }}</p>
        <p class="margin-bottom-0">{{ 'personal.martina.part4.text-2-2-5'|trans }}</p>
    </div>
</div>
<div class="row margin-top-30">
    <div class="col-md-3">
        <h6>{{ 'personal.martina.part4.text-3-1'|trans }}</h6>
        <p class="margin-bottom-0">
            <b>{{ 'personal.programme'|trans }}</b>
        </p>
        <p class="margin-bottom-0">
            <b>{{ 'personal.degree'|trans }}</b>
        </p>
        <p class="margin-bottom-0">
            <b>{{ 'personal.graduation'|trans }}</b>
        </p>
        <p class="margin-bottom-0">
            <b>{{ 'personal.thesis'|trans }}</b>
        </p>
        <p class="margin-bottom-0">
            <b>{{ 'personal.goal'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <h6>{{ 'personal.martina.part4.text-3-2'|trans }}</h6>
        <p class="margin-bottom-0">{{ 'personal.martina.part4.text-3-2-1'|trans }}</p>
        <p class="margin-bottom-0">{{ 'personal.martina.part4.text-3-2-2'|trans }}</p>
        <p class="margin-bottom-0">{{ 'personal.martina.part4.text-3-2-3'|trans }}</p>
        <p class="margin-bottom-0">{{ 'personal.martina.part4.text-3-2-4'|trans }}</p>
        <p class="margin-bottom-0">{{ 'personal.martina.part4.text-3-2-5'|trans }}</p>
    </div>
</div>
<div class="row margin-top-30">
    <div class="col-md-3">
        <h6>{{ 'personal.martina.part4.text-4-1'|trans }}</h6>
        <p class="margin-bottom-0">
            <b>{{ 'personal.programme'|trans }}</b>
        </p>
        <p class="margin-bottom-0">
            <b>{{ 'personal.degree'|trans }}</b>
        </p>
        <p class="margin-bottom-0">
            <b>{{ 'personal.graduation'|trans }}</b>
        </p>
        <p class="margin-bottom-0">
            <b>{{ 'personal.thesis'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <h6>{{ 'personal.martina.part4.text-4-2'|trans }}</h6>
        <p class="margin-bottom-0">{{ 'personal.martina.part4.text-4-2-1'|trans }}</p>
        <p class="margin-bottom-0">{{ 'personal.martina.part4.text-4-2-2'|trans }}</p>
        <p class="margin-bottom-0">{{ 'personal.martina.part4.text-4-2-3'|trans }}</p>
        <p class="margin-bottom-0">{{ 'personal.martina.part4.text-4-2-4'|trans }}</p>
    </div>
</div>
<div class="row margin-top-30">
    <div class="col-md-3">
        <h6>{{ 'personal.martina.part4.text-5-1'|trans }}</h6>
        <p class="margin-bottom-0">
            <b>{{ 'personal.programme'|trans }}</b>
        </p>
        <p class="margin-bottom-0">
            <b>{{ 'personal.degree'|trans }}</b>
        </p>
        <p class="margin-bottom-0">
            <b>{{ 'personal.graduation'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <h6>{{ 'personal.martina.part4.text-5-2'|trans }}</h6>
        <p class="margin-bottom-0">{{ 'personal.martina.part4.text-5-2-1'|trans }}</p>
        <p class="margin-bottom-0">{{ 'personal.martina.part4.text-5-2-2'|trans }}</p>
        <p class="margin-bottom-0">{{ 'personal.martina.part4.text-5-2-3'|trans }}</p>
    </div>
</div>