{# CONTENT - PROJECT 2 #}
<div class="row">
    <div class="col-md-3">
        <h6>{{ 'personal.martina.part1.project-3-0'|trans }}
        </h6>
    </div>
    <div class="col-md-9">
        <h6>
            {{ 'personal.martina.part1.project-3-1'|trans }}
        </h6>
    </div>
</div>
<div class="row margin-top-5">
    <div class="col-md-3">
        <p>
            <b>{{ 'personal.annotation'|trans }}:</b>
        </p>
    </div>
    <div class="col-md-9 both-sides-text-alignment">
        <p>{{ 'personal.martina.part1.project-3-2'|trans }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p>
            <b>{{ 'basic_words.key-words'|trans }}:</b>
        </p>
    </div>
    <div class="col-md-9 both-sides-text-alignment">
        <p>{{ 'personal.martina.part1.project-3-3'|trans }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p>
            <b>{{ 'basic_words.contributors'|trans }}:</b>
        </p>
    </div>
    <div class="col-md-9 both-sides-text-alignment">
        <p>
            {{ 'personal.martina.part1.project-3-4-1'|trans }};
            {{ 'personal.martina.part1.project-3-4-2'|trans }};
            {{ 'personal.martina.part1.project-3-4-3'|trans }};
            {{ 'personal.martina.part1.project-3-4-4'|trans }};
            {{ 'personal.martina.part1.project-3-4-5'|trans }}
        </p>
    </div>
</div>


