{# HEADING - PUBLICATIONS #}
<div class="row margin-top-30">
    <div class="col-md-12">
        <div class="list-heading uppercase-transform">
            <div class="icon-box-h6">
                <div class="ib-icon">
                    <i class="fa fa-tencent-weibo"></i>
                </div>
                <div class="ib-info ">
                    <h6>
                        {{ 'personal.martina.part2.headlie'|trans }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>


{# CONTENT - BOOKLET #}
<div class="row">
    <div class="col-md-3">
        <h6>{{ 'personal.martina.part2.text-1-1'|trans }}</h6>
    </div>
    <div class="col-md-9">
        <h6>{{ 'personal.martina.part2.text-1-2'|trans }}</h6>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.name'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-2'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.type'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-3'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.author'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-4'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.publisher'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-5'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.ISBN'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-6'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.avilable'|trans }} {{ 'basic_words.online'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            <span>
                <b>
                    <a class="text-color-primary" target="_blank" href={{ path('app_book_main_introudction') }}>
                        {{ 'basic_words.here'|trans }}
                    </a>
                </b>
            </span>
        </p>
    </div>
</div>

{# CONTENT - CONF 1 #}
<div class="row margin-top-30">
    <div class="col-md-3">
        <h6>{{ 'personal.martina.part2.text-7-1'|trans }}</h6>
    </div>
    <div class="col-md-9">
        <h6>{{ 'personal.martina.part2.text-7-2'|trans }}</h6>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.contribution'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-8'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.type'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-9'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.publication'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-10'|trans }}
        </p>
    </div>
</div>

{# CONTENT - CONF 2 #}
<div class="row margin-top-30">
    <div class="col-md-3">
        <h6>{{ 'personal.martina.part2.text-11-1'|trans }}</h6>
    </div>
    <div class="col-md-9">
        <h6>{{ 'personal.martina.part2.text-11-2'|trans }}</h6>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.contribution'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-12'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.type'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-13'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.publication'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-14'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.award'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-15'|trans }}
        </p>
    </div>
</div>

{# CONTENT - CONF 3 #}
<div class="row margin-top-30">
    <div class="col-md-3">
        <h6>{{ 'personal.martina.part2.text-16-1'|trans }}</h6>
    </div>
    <div class="col-md-9">
        <h6>{{ 'personal.martina.part2.text-16-2'|trans }}</h6>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.contribution'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-17'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.type'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-18'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.publication'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-19'|trans }}
        </p>
    </div>
</div>


{# CONTENT - CONF 4 #}
<div class="row margin-top-30">
    <div class="col-md-3">
        <h6>{{ 'personal.martina.part2.text-20-1'|trans }}</h6>
    </div>
    <div class="col-md-9">
        <h6>{{ 'personal.martina.part2.text-20-2'|trans }}</h6>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.contribution'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-21'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.type'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-22'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.publication'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-23'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.award'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-24'|trans }}
        </p>
    </div>
</div>

{# CONTENT - CONF 5 #}
<div class="row margin-top-30">
    <div class="col-md-3">
        <h6>{{ 'personal.martina.part2.text-25-1'|trans }}</h6>
    </div>
    <div class="col-md-9">
        <h6>{{ 'personal.martina.part2.text-25-2'|trans }}</h6>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.contribution'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-26'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.type'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-27'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.publication'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-28'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.award'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-29'|trans }}
        </p>
    </div>
</div>

{# CONTENT - CONF 6 #}
<div class="row margin-top-30">
    <div class="col-md-3">
        <h6>{{ 'personal.martina.part2.text-30-1'|trans }}</h6>
    </div>
    <div class="col-md-9">
        <h6>{{ 'personal.martina.part2.text-30-2'|trans }}</h6>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.contribution'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-31'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.type'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-32'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.publication'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-33'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.award'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-34'|trans }}
        </p>
    </div>
</div>

{# CONTENT - CONF 7 #}
<div class="row margin-top-30">
    <div class="col-md-3">
        <h6>{{ 'personal.martina.part2.text-35-1'|trans }}</h6>
    </div>
    <div class="col-md-9">
        <h6>{{ 'personal.martina.part2.text-35-2'|trans }}</h6>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.contribution'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-36'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.type'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-37'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.publication'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-38'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="margin-bottom-0">
            <b>{{ 'basic_words.award'|trans }}</b>
        </p>
    </div>
    <div class="col-md-9">
        <p class="margin-bottom-0 both-sides-text-alignment">
            {{ 'personal.martina.part2.text-39'|trans }}
        </p>
    </div>
</div>