{# HEADING - WORK EXPERIENCE #}
<div class="row margin-top-30">
    <div class="col-md-12">
        <div class="list-heading uppercase-transform">
            <div class="icon-box-h6">
                <div class="ib-icon">
                    <i class="fa fa-group"></i>
                </div>
                <div class="ib-info ">
                    <h6>
                        {{ 'personal.martina.part6.headlie'|trans }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>

{# CONTENT - FROM STUDENTS SURVEY #}
<div class="row">
    <div class="col-md-12">
        <h6 class="uppercase-transform">
            {{ 'personal.martina.part6.text-1'|trans }}
        </h6>
    </div>
</div>

<!-- Testimonial Style 3 -->
<div class="testimonial style-7 bg-parallax padding-bottom-30 padding-top-30">
    <ul class="row">
        <!-- Testi -->
        <li class="col-md-6 margin-bottom-30">
            <div class="testi-in">
                <!-- Avatar -->
                <div class="avatar">
                    {% image '@AppBundle/Resources/public/images/personal/student-6.jpeg' %}
                        <img
                                src="{{ asset_url }}" alt="introduction-picture1" class="img-responsive max-width-100-percent"
                        >
                    {% endimage %}
                </div>
                <div class="text-in">
                    <p> {{ 'personal.martina.part6.reference.student-3'|trans }}</p>
                    <h6>{{ 'basic_words.student'|trans }}</h6>
                    <span>{{ 'personal.martina.part6.reference.student-cognitive-science'|trans }} 2017/2018</span>
                </div>
            </div>
        </li>
        <!-- Testi -->
        <li class="col-md-6 margin-bottom-30">
            <div class="testi-in">
                <!-- Avatar -->
                <div class="avatar">
                    {% image '@AppBundle/Resources/public/images/personal/student-6.jpeg' %}
                        <img
                                src="{{ asset_url }}" alt="introduction-picture1" class="img-responsive max-width-100-percent"
                        >
                    {% endimage %}
                </div>
                <div class="text-in">
                    <p> {{ 'personal.martina.part6.reference.student-2'|trans }}</p>
                    <h6>{{ 'basic_words.student'|trans }}</h6>
                    <span>{{ 'personal.martina.part6.reference.student-cognitive-science'|trans }} 2017/2018</span>
                </div>
            </div>
        </li>
    </ul>
    <ul class="row">
        <!-- Testi -->
        <li class="col-md-6 margin-bottom-30">
            <div class="testi-in">
                <!-- Avatar -->
                <div class="avatar">
                    {% image '@AppBundle/Resources/public/images/personal/student-6.jpeg' %}
                        <img
                                src="{{ asset_url }}" alt="introduction-picture1" class="img-responsive max-width-100-percent"
                        >
                    {% endimage %}
                </div>
                <div class="text-in">
                    <p> {{ 'personal.martina.part6.reference.student-5'|trans }}</p>
                    <h6>{{ 'basic_words.student'|trans }}</h6>
                    <span>{{ 'personal.martina.part6.reference.student-math-analysis'|trans }} 2017/2018</span>
                </div>
            </div>
        </li>
        <!-- Testi -->
        <li class="col-md-6 margin-bottom-30">
            <div class="testi-in">
                <!-- Avatar -->
                <div class="avatar">
                    {% image '@AppBundle/Resources/public/images/personal/student-6.jpeg' %}
                        <img
                                src="{{ asset_url }}" alt="introduction-picture1" class="img-responsive max-width-100-percent"
                        >
                    {% endimage %}
                </div>
                <div class="text-in">
                    <p> {{ 'personal.martina.part6.reference.student-1'|trans }}</p>
                    <h6>{{ 'basic_words.student'|trans }}</h6>
                    <span>{{ 'personal.martina.part6.reference.student-cognitive-science'|trans }} 2017/2018</span>
                </div>
            </div>
        </li>
    </ul>

    <ul class="row hidden-xs hidden-sm">
        <!-- Testi -->
        <li class="col-md-6 margin-bottom-30">
            <div class="testi-in">
                <!-- Avatar -->
                <div class="avatar">
                    {% image '@AppBundle/Resources/public/images/personal/student-6.jpeg' %}
                        <img
                                src="{{ asset_url }}" alt="introduction-picture1" class="img-responsive max-width-100-percent"
                        >
                    {% endimage %}
                </div>
                <div class="text-in">
                    <p> {{ 'personal.martina.part6.reference.student-8'|trans }}</p>
                    <h6>{{ 'basic_words.student'|trans }}</h6>
                    <span>{{ 'personal.martina.part6.reference.student-math-analysis'|trans }} 2014/2015</span>
                </div>
            </div>
        </li>

        <!-- Testi -->
        <li class="col-md-6 margin-bottom-30">
            <div class="testi-in">
                <!-- Avatar -->
                <div class="avatar">
                    {% image '@AppBundle/Resources/public/images/personal/student-6.jpeg' %}
                        <img
                                src="{{ asset_url }}" alt="introduction-picture1" class="img-responsive max-width-100-percent"
                        >
                    {% endimage %}
                </div>
                <div class="text-in">
                    <p> {{ 'personal.martina.part6.reference.student-7'|trans }}</p>
                    <h6>{{ 'basic_words.student'|trans }}</h6>
                    <span>{{ 'personal.martina.part6.reference.student-math-analysis'|trans }} 2012/2013</span>
                </div>
            </div>
        </li>
    </ul>

</div>

{# CONTENT - REFERENCE LETTERS #}
<div class="row">
    <div class="col-md-12">
        <h6 class="uppercase-transform">
            {{ 'personal.martina.part6.text-12'|trans }}
        </h6>
    </div>
</div>
<div class="row padding-top-20">
    <div class="col-md-3">
        <h6>{{ 'personal.martina.part6.referee-1'|trans }}</h6>
    </div>
    <div class="col-md-9">
        <p>
            {{ 'personal.martina.part6.referee-1-address-1'|trans }}<br/>
            {{ 'personal.martina.part6.referee-1-address-2'|trans }}<br/>
            {{ 'personal.martina.part6.referee-1-address-3'|trans }}
        </p>
        <div>
            {% image '@AppBundle/Resources/public/downloads/fmfiuk.pdf' %}
                <a href="{{ asset_url }}" download="recommendation-letter-1.pdf">
                    <b>{{ 'basic_words.recommendation-letter'|trans }}</b>
                </a>
            {% endimage %}
        </div>
    </div>
</div>
<div class="row padding-top-30">
    <div class="col-md-3">
        <h6>{{ 'personal.martina.part6.referee-2'|trans }}</h6>
    </div>
    <div class="col-md-9">
        <p>
            {{ 'personal.martina.part6.referee-2-address-1'|trans }}<br/>
            {{ 'personal.martina.part6.referee-2-address-2'|trans }}<br/>
            {{ 'personal.martina.part6.referee-2-address-3'|trans }}
        </p>
        <div>
            {% image '@AppBundle/Resources/public/downloads/ilac.pdf' %}
                <a href="{{ asset_url }}" download="recommendation-letter-2.pdf">
                    <b>{{ 'basic_words.recommendation-letter'|trans }}</b>
                </a>
            {% endimage %}
        </div>
    </div>
</div>
