{# HEADING - RESEARCH #}
<div class="row margin-top-20">
    <div class="col-md-12">
        <div class="list-heading uppercase-transform">
            <div class="icon-box-h6">
                <div class="ib-icon">
                    <i class="fa fa-paper-plane-o"></i>
                </div>
                <div class="ib-info ">
                    <h6>{{ 'personal.martina.part1.headlie'|trans }}</h6>
                </div>
            </div>
        </div>
    </div>
</div>

{# CONTENT - STH ABOUT ME #}
<div class="row">
    <div class="col-md-7 padding-right-30 both-sides-text-alignment">
        <h6 class="problem">
            {{ 'personal.martina.part1.supheader-1-1'|trans }}
        </h6>
        <p>
            {{ 'personal.martina.part1.research-history-1'|trans }}
            {{ 'personal.martina.part1.research-history-2'|trans }}
        </p>
        <p>
            {{ 'personal.martina.part1.research-history-3'|trans }}
            {{ 'personal.martina.part1.research-history-4'|trans }}
        </p>
        <p>
            {{ 'personal.martina.part1.research-history-5'|trans }}
            {{ 'personal.martina.part1.research-history-6'|trans }}
            <br>
            {{ 'personal.martina.part1.research-history-8'|trans }}
        </p>
        <p>
            {{ 'personal.martina.part1.research-history-9'|trans }}
            <span>
                <b>
                    <a class="text-color-primary" target="_blank" href={{ path('app_book_main_introudction') }}>
                        {{ 'basic_words.this-webpage'|trans }}
                    </a>
                </b>
            </span>
            .
            {{ 'personal.martina.part1.research-history-10'|trans }}
        </p>
    </div>
    <div class="col-md-5 text-left margin-top-60">
        {% image '@AppBundle/Resources/public/images/personal/students3.jpg' %}
            <img src="{{ asset_url }}" alt="Students" class="img-responsive max-width-100-percent" >
        {% endimage %}
    </div>
</div>

{# CONTENT - MAIN IDEAS #}
<div class="row padding-top-30">
    <div class="col-md-12">
        <h6 class="problem">
            {{ 'personal.martina.part1.supheader-2'|trans }}
        </h6>
    </div>
    <div class="col-md-12 both-sides-text-alignment">
        <p>
            &#9658; {{ 'personal.martina.main-research-ideas-1'|trans }}
            &#9658; {{ 'personal.martina.main-research-ideas-2'|trans }}
            &#9658; {{ 'personal.martina.main-research-ideas-3'|trans }}
            &#9658; {{ 'personal.martina.main-research-ideas-4'|trans }}
            &#9658; {{ 'personal.martina.main-research-ideas-5'|trans }}

        </p>
    </div>
</div>


{# CONTENT - PROJECTS #}
<div class="row padding-top-30">
    <div class="col-md-12">
        <h6 class="problem">
            {{ 'personal.martina.part1.supheader-3'|trans }}
        </h6>
    </div>
</div>

{# CONTENT - PROJECT 3 #}
{% include '@App/Personal/BabinskaMartina/Includes/project-3.html.twig' %}

{# older projects #}
<div class="row" id="readMoreOlderProjects">
    <div class="col-md-12">
        <p>
            <span onclick="toggleMoreInformation('OlderProjects')" class="text-color-primary cursor-hand">
                <b>{{ 'basic_words.older-projects'|trans }}</b>
            </span>
        </p>
    </div>
</div>

<div id="textOlderProjects" class="hide-element margin-top-20">
    {# CONTENT - PROJECT 2 #}
    {% include '@App/Personal/BabinskaMartina/Includes/project-2.html.twig' %}
</div>