{# HEADING - RESEARCH #}
<div class="row margin-top-30">
    <div class="col-md-12">
        <div class="list-heading uppercase-transform">
            <div class="icon-box-h6">
                <div class="ib-icon">
                    <i class="fa fa-paper-plane-o"></i>
                </div>
                <div class="ib-info ">
                    <h6>{{ 'personal.martina.part1.headlie'|trans }}</h6>
                </div>
            </div>
        </div>
    </div>
</div>

{# CONTENT #}
<div class="row">
    <div class="col-md-4">
        <h6>{{ 'personal.martina.part1.text-1-1'|trans }}</h6>
        <p>
            <b>{{ 'personal.status'|trans }}</b>
        </p>
        <p>
            <b>{{ 'personal.description'|trans }}</b>
        </p>
        <p>
            <b>{{ 'personal.analysis'|trans }}</b>
        </p>
        <p>
            <b>{{ 'personal.publication'|trans }}</b>
        </p>
    </div>
    <div class="col-md-8">
        <h6>{{ 'personal.martina.part1.text-1-2'|trans }}</h6>
    </div>
</div>
<div class="row margin-top-30">
    <div class="col-md-4">
        <h6>{{ 'personal.martina.part1.text-2-1'|trans }}</h6>
        <p>
            <b>{{ 'personal.status'|trans }}</b>
        </p>
        <p>
            <b>{{ 'personal.description'|trans }}</b>
        </p>
        <p>
            <b>{{ 'personal.analysis'|trans }}</b>
        </p>
        <p>
            <b>{{ 'personal.publication'|trans }}</b>
        </p>
    </div>
    <div class="col-md-8">
        <h6>{{ 'personal.martina.part1.text-2-2'|trans }}</h6>
    </div>
</div>
<div class="row margin-top-30">
    <div class="col-md-4">
        <h6>{{ 'personal.martina.part1.text-3-1'|trans }}</h6>
        <p>
            <b>{{ 'personal.status'|trans }}</b>
        </p>
        <p>
            <b>{{ 'personal.description'|trans }}</b>
        </p>
        <p>
            <b>{{ 'personal.analysis'|trans }}</b>
        </p>
        <p>
            <b>{{ 'personal.publication'|trans }}</b>
        </p>
    </div>
    <div class="col-md-8">
        <h6>{{ 'personal.martina.part1.text-3-2'|trans }}</h6>
    </div>
</div>
<div class="row margin-top-30">
    <div class="col-md-4">
        <h6>{{ 'personal.martina.part1.text-4-1'|trans }}</h6>
        <p>
            <b>{{ 'personal.status'|trans }}</b>
        </p>
        <p>
            <b>{{ 'personal.description'|trans }}</b>
        </p>
        <p>
            <b>{{ 'personal.analysis'|trans }}</b>
        </p>
        <p>
            <b>{{ 'personal.publication'|trans }}</b>
        </p>
    </div>
    <div class="col-md-8">
        <h6>{{ 'personal.martina.part1.text-4-2'|trans }}</h6>
    </div>
</div>