{# HEADING - RESEARCH #}
<div class="row margin-top-30">
    <div class="col-md-12">
        <div class="list-heading uppercase-transform">
            <div class="icon-box-h6">
                <div class="ib-icon">
                    <i class="fa fa-paper-plane-o"></i>
                </div>
                <div class="ib-info ">
                    <h6>{{ 'personal.martina.part1.headlie'|trans }}</h6>
                </div>
            </div>
        </div>
    </div>
</div>

{# CONTENT - STH ABOUT ME #}
<div class="row">
    <div class="col-md-7 padding-right-30 both-sides-text-alignment">
        <h6 class="problem">
            {{ 'personal.martina.part1.supheader-1-1'|trans }}
        </h6>
        <p>
            {{ 'personal.martina.part1.research-history-1'|trans }}
            {{ 'personal.martina.part1.research-history-2'|trans }}
        </p>
        <p>
            {{ 'personal.martina.part1.research-history-3'|trans }}
            {{ 'personal.martina.part1.research-history-4'|trans }}
        </p>
        <p>
            {{ 'personal.martina.part1.research-history-5'|trans }}
            {{ 'personal.martina.part1.research-history-6'|trans }}
            <br>
            {{ 'personal.martina.part1.research-history-8'|trans }}
        </p>
        <p>
            {{ 'personal.martina.part1.research-history-9'|trans }}
            <span>
                <b>
                    <a class="text-color-primary" target="_blank" href={{ path('app_book_main_introudction') }}>
                        {{ 'basic_words.this-webpage'|trans }}
                    </a>
                </b>
            </span>
            .
            {{ 'personal.martina.part1.research-history-10'|trans }}
        </p>
    </div>
    <div class="col-md-5 text-left margin-top-60">
        {% image '@AppBundle/Resources/public/images/personal/students3.jpg' %}
            <img src="{{ asset_url }}" alt="Students" class="img-responsive" >
        {% endimage %}
    </div>
</div>

{# CONTENT - MAIN IDEAS #}
<div class="row padding-top-30">
    <div class="col-md-12">
        <h6 class="problem">
            {{ 'personal.martina.part1.supheader-2'|trans }}
        </h6>
    </div>
    <div class="col-md-12 both-sides-text-alignment">
        <p>
            &#9658; {{ 'personal.martina.main-research-ideas-1'|trans }}
            &#9658; {{ 'personal.martina.main-research-ideas-2'|trans }}
            &#9658; {{ 'personal.martina.main-research-ideas-3'|trans }}
            &#9658; {{ 'personal.martina.main-research-ideas-4'|trans }}
            &#9658; {{ 'personal.martina.main-research-ideas-5'|trans }}

        </p>
    </div>
</div>


{# CONTENT - PROJECTS #}
<div class="row padding-top-30">
    <div class="col-md-12">
        <h6 class="problem">
            {{ 'personal.martina.part1.supheader-3'|trans }}
        </h6>
    </div>
</div>

{# CONTENT - PROJECT 1 #}
<div class="row">
    <div class="col-md-3">
        <h6>{{ 'personal.study'|trans }}</h6>
    </div>
    <div class="col-md-9">
        <h6>
            {{ 'personal.martina.part1.text-12-1'|trans }}
        </h6>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p>
            <b>{{ 'personal.description'|trans }}:</b>
        </p>
    </div>
    <div class="col-md-9 both-sides-text-alignment">
        <p>{{ 'personal.martina.part1.text-13-1'|trans }}:
            <br>
            &#9642; <span><i>{{ 'personal.martina.part1.text-13-2'|trans }}?</i></span>
            <br>
            &#9642; <span><i>{{ 'personal.martina.part1.text-13-3'|trans }}?</i></span>
            <br>
            &#9642; <span><i>{{ 'personal.martina.part1.text-13-4'|trans }}?</i></span>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p>
            <b>{{ 'personal.methods'|trans }}:</b>
        </p>
    </div>
    <div class="col-md-9 both-sides-text-alignment">
        <p>{{ 'personal.martina.part1.text-14-1'|trans }}
            (
            <i>{{ 'personal.martina.part1.text-14-2'|trans }}</i>
            )
            {{ 'personal.martina.part1.text-14-3'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p>
            <b>{{ 'personal.publication'|trans }}:</b>
        </p>
    </div>
    <div class="col-md-9 both-sides-text-alignment">
        <p>
            {{ 'personal.martina.part1.text-15-1'|trans }}
            (
            <i>{{ 'personal.martina.part1.text-15-2'|trans }}</i>
            ).
            {{ 'personal.martina.part1.text-15-3'|trans }}.
        </p>
    </div>
</div>


{# CONTENT - PROJECT 2 #}
<div class="row margin-top-20">
    <div class="col-md-3">
        <h6>{{ 'personal.study'|trans }}</h6>
    </div>
    <div class="col-md-9">
        <h6>
            {{ 'personal.martina.part1.text-16'|trans }}
        </h6>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p>
            <b>{{ 'personal.description'|trans }}:</b>
        </p>
    </div>
    <div class="col-md-9 both-sides-text-alignment">
        <p>{{ 'personal.martina.part1.text-17-1'|trans }}:
            <br>
            &#9642; <span><i>{{ 'personal.martina.part1.text-17-2'|trans }}?</i></span>
            <br>
            &#9642; <span><i>{{ 'personal.martina.part1.text-17-3'|trans }}?</i></span>
            <br>
            &#9642; <span><i>{{ 'personal.martina.part1.text-17-4'|trans }}?</i></span>
            <br>
            &#9642; <span><i>{{ 'personal.martina.part1.text-17-5'|trans }}?</i></span>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p>
            <b>{{ 'personal.methods'|trans }}:</b>
        </p>
    </div>
    <div class="col-md-9 both-sides-text-alignment">
        <p>
            {{ 'personal.martina.part1.text-18-1'|trans }}
            {{ 'personal.martina.part1.text-18-2'|trans }}
            (
            {{ 'basic_words.avilable-on'|trans }}
            <span>
                <b>
                    <a class="text-color-primary" target="_blank" href={{ path('app_book_main_introudction') }}>
                        {{ 'basic_words.this-webpage'|trans }}
                    </a>
                </b>
            </span>
            )
            {{ 'personal.martina.part1.text-18-3'|trans }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p>
            <b>{{ 'personal.publication'|trans }}:</b>
        </p>
    </div>
    <div class="col-md-9 both-sides-text-alignments">
        <p>
            {{ 'personal.martina.part1.text-19-1'|trans }}
            (
            <i>{{ 'personal.martina.part1.text-19-2'|trans }}</i>
            ).
            {{ 'personal.martina.part1.text-19-3'|trans }}.
        </p>
    </div>
</div>