{# HEADING - WORK EXPERIENCE #}
<div class="row margin-top-30">
    <div class="col-md-12">
        <div class="list-heading uppercase-transform">
            <div class="icon-box-h6">
                <div class="ib-icon">
                    <i class="fa fa-sliders"></i>
                </div>
                <div class="ib-info ">
                    <h6>
                        {{ 'personal.martina.part3.headlie'|trans }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>

{# CONTENT - TECHING #}
<div class="row">
    <div class="col-md-12">
        <h6 class="uppercase-transform">
            {{ 'personal.martina.part3.text-1'|trans }}
        </h6>
    </div>
</div>

{# SUBJECT 1 #}
<div class="row">
    <div class="col-md-3 margin-top-30">
        <div class="text-center margin-right-20">
            {% image '@AppBundle/Resources/public/images/personal/cognitive-maths.png' %}
                <img src="{{ asset_url }}" alt="Subject-picture" class="max-width-100-percent" >
            {% endimage %}
        </div>
    </div>
    <div class="col-md-9 both-sides-text-alignment">
        <h6>{{ 'personal.martina.part3.text-2'|trans }}</h6>
        <p class="margin-bottom-0">
            <i>
                {{ 'personal.martina.part3.text-3'|trans }}
            </i>
        </p>
        <p class="margin-bottom-0">
            {{ 'personal.martina.part3.text-4'|trans }}
        </p>
        <p class="margin-bottom-0">
            {{ 'personal.martina.part3.text-5'|trans }}
            <span>
                <b>
                    <a
                            class="text-color-primary" target="_blank"
                            href="http://dai.fmph.uniba.sk/w/Course:Mathematics/en"
                    >
                        {{ 'basic_words.here-small'|trans }}
                    </a>
                </b>
            </span>
            .
        </p>
    </div>
</div>

{# SUBJECT 2 #}
<div class="row margin-top-40">
    <div class="col-md-3">
        <div class="text-center margin-right-20">
            {% image '@AppBundle/Resources/public/images/personal/teachers-maths.gif' %}
                <img src="{{ asset_url }}" alt="Subject-picture" class="max-width-100-percent" >
            {% endimage %}
        </div>
    </div>
    <div class="col-md-9 both-sides-text-alignment margin-top-10">
        <h6>{{ 'personal.martina.part3.text-6'|trans }}</h6>
        <p class="margin-bottom-0">
            <i>
                {{ 'personal.martina.part3.text-7'|trans }}
            </i>
        </p>
        <p class="margin-bottom-0">
            {{ 'personal.martina.part3.text-8'|trans }}
        </p>
    </div>
</div>

{# SUBJECT 3 #}
<div class="row margin-top-40">
    <div class="col-md-3">
        <div class="text-center margin-right-20">
            {% image '@AppBundle/Resources/public/images/personal/calculus-250.png' %}
                <img src="{{ asset_url }}" alt="Subject-picture" class="max-width-100-percent" >
            {% endimage %}
        </div>
    </div>
    <div class="col-md-9 both-sides-text-alignment margin-top-10">
        <h6>{{ 'personal.martina.part3.text-9'|trans }}</h6>
        <p class="margin-bottom-0">
            <i>
                {{ 'personal.martina.part3.text-10'|trans }}
            </i>
        </p>
        <p class="margin-bottom-0">
            {{ 'personal.martina.part3.text-11'|trans }}
        </p>
    </div>
</div>

{# CONTENT - BACHELOR AND MASTER THESIS LEADING #}
<div class="row margin-top-40">
    <div class="col-md-12">
        <h6 class="uppercase-transform">
            {{ 'personal.martina.part3.text-12'|trans }}
        </h6>
    </div>
</div>

{# PETER SAS #}
{% include '@App/Personal/BabinskaMartina/Includes/student-1-SasPeter.html.twig' %}
