{% extends "::base.html.twig" %}

{% block metadata %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock %}

{% block stylesheets %}
    {% stylesheets 'bundles/app/template/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

    {#<link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/custom.css') }}">#}
{% endblock %}

{% block body %}
    {% include 'AppBundle:Includes:header.html.twig' %}

    <section>
        {% block section %}{% endblock %}
    </section>

    {% include 'AppBundle:Includes:footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/template/js/jquery.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@AppBundle/Resources/public/template/js/bootstrap.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@AppBundle/Resources/public/template/js/lightbox.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@AppBundle/Resources/public/template/js/wow.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@AppBundle/Resources/public/template/js/main.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}