{% extends "::base.html.twig" %}

{% block metadata %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="author" content="Martina Babinska"/>
    <meta name="description" content="">
{% endblock %}

{% block favicon %}
    {#{% image 'bundles/app/templateEvanto/images/favicon.ico' %}#}
    {#<link rel="shortcut icon" href="{{ asset_url }}" type="image/x-icon">#}
    {#<link rel="icon" href="{{ asset_url }}" type="image/x-icon">#}
    {#{% endimage %}#}
{% endblock %}

{% block fonts %}
    <!-- FontsOnline -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic'
          rel='stylesheet' type='text/css'>

    {% stylesheets
    'bundles/app/templateEvanto/fonts/fontawesome-webfont.ttf'
    'bundles/app/templateEvanto/fonts/fontawesome-webfont.woff'
    'bundles/app/templateEvanto/fonts/fontawesome-webfont.woff2'
    'bundles/app/templateEvanto/fonts/montserrat-fonts.css'
    'bundles/app/templateEvanto/rs-plugin/font/revicons.ttf'
    'bundles/app/templateEvanto/rs-plugin/font/revicons.woff'
    'bundles/app/templateEvanto/fonts/ionicons.ttf'
    'bundles/app/templateEvanto/fonts/ionicons.woff' %}
    <link rel="stylesheet" id="color" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets
    'bundles/app/templateEvanto/css/ionicons.min.css'
    'bundles/app/templateEvanto/css/bootstrap/bootstrap.min.css'
    'bundles/app/templateEvanto/css/font-awesome.min.css'
    'bundles/app/templateEvanto/css/main.css'
    'bundles/app/templateEvanto/css/style.css'
    'bundles/app/templateEvanto/css/animate.css'
    'bundles/app/templateEvanto/css/responsive.css'
    'bundles/app/css/custom.css' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    {% stylesheets 'bundles/app/templateEvanto/rs-plugin/css/settings.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen">
    {% endstylesheets %}

    <!-- COLORS -->
    {% stylesheets 'bundles/app/templateEvanto/css/default.css' %}
    <link rel="stylesheet" id="color" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascriptTop %}
    {% javascripts '@AppBundle/Resources/public/templateEvanto/js/vendors/modernizr.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}

    {% include 'AppBundle:Includes:loader.html.twig' %}

    <div id="wrap">
        {% include 'AppBundle:Includes:header.html.twig' %}

        <section>
            {% block section %}{% endblock %}
        </section>

        {% include 'AppBundle:Includes:footer.html.twig' %}
    </div>

    {% block rightNavigation %}{% endblock %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/public/templateEvanto/js/vendors/jquery/jquery.min.js'
    '@AppBundle/Resources/public/templateEvanto/js/vendors/wow.min.js'
    '@AppBundle/Resources/public/templateEvanto/js/vendors/bootstrap.min.js'
    '@AppBundle/Resources/public/templateEvanto/js/vendors/own-menu.js'
    '@AppBundle/Resources/public/templateEvanto/js/vendors/flexslider/jquery.flexslider-min.js'
    '@AppBundle/Resources/public/templateEvanto/js/vendors/jquery.countTo.js'
    '@AppBundle/Resources/public/templateEvanto/js/vendors/jquery.isotope.min.js'
    '@AppBundle/Resources/public/templateEvanto/js/vendors/jquery.bxslider.min.js'
    '@AppBundle/Resources/public/templateEvanto/js/vendors/owl.carousel.min.js'
    '@AppBundle/Resources/public/templateEvanto/js/vendors/jquery.sticky.js'
    '@AppBundle/Resources/public/templateEvanto/js/vendors/color-switcher.js'
    '@AppBundle/Resources/public/js/custom.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    {% javascripts
    '@AppBundle/Resources/public/templateEvanto/rs-plugin/js/jquery.themepunch.tools.min.js'
    '@AppBundle/Resources/public/templateEvanto/rs-plugin/js/jquery.themepunch.revolution.min.js'
    '@AppBundle/Resources/public/templateEvanto/js/zap.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}