<h4 class="h4-small-font-uppercase">{{ 'right_navbar.textbook.solutions'|trans }}</h4>

<div class="helper-section margin-top-20">
    <div class="row">
        <h5 class="h5-small-font-uppercase cursor-hand" onclick="toggleUniversal('Problem1-Challenge1-Solution')">
            {{ 'right_navbar.textbook.problem'|trans }} I: {{ 'right_navbar.textbook.challenge'|trans }} 1
        </h5>
    </div>
    <div class="row hide-element smaller-p-tags margin-bottom-10" id="Problem1-Challenge1-Solution">
        {% include '@App/Textbook/Logarithms/LogarithmicInequalities/Problems/Includes/Answers/problem1-challenge1.html.twig' %}
    </div>
</div>

<div class="helper-section">
    <div class="row">
        <h5 class="h5-small-font-uppercase cursor-hand" onclick="toggleUniversal('Problem1-Challenge2-Solution')">
            {{ 'right_navbar.textbook.problem'|trans }} I: {{ 'right_navbar.textbook.challenge'|trans }} 2
        </h5>
    </div>
    <div class="row hide-element smaller-p-tags margin-bottom-10" id="Problem1-Challenge2-Solution">
        {% include '@App/Textbook/Logarithms/LogarithmicInequalities/Problems/Includes/Answers/problem1-challenge2.html.twig' %}
    </div>
</div>

<div class="helper-section">
    <div class="row">
        <h5 class="h5-small-font-uppercase cursor-hand" onclick="toggleUniversal('Problem1-Challenge3-Solution')">
            {{ 'right_navbar.textbook.problem'|trans }} I: {{ 'right_navbar.textbook.challenge'|trans }} 3
        </h5>
    </div>
    <div class="row hide-element smaller-p-tags margin-bottom-10" id="Problem1-Challenge3-Solution">
        {% include '@App/Textbook/Logarithms/LogarithmicInequalities/Problems/Includes/Answers/problem1-challenge3.html.twig' %}
    </div>
</div>