<h4 class="h4-small-font-uppercase">{{ 'right_navbar.book.helpers'|trans }}</h4>

<div class="helper-section margin-top-20">
    <div class="row">
        <h5 class="h5-small-font-uppercase cursor-hand"
            onclick="toggleUniversal('LI-Problem1-Challenge1-Helper1')"
            data-toggle="tooltip"
            data-placement="top"
            data-boundary="window"
            title="{{ 'textBook.basic_words.helper-graph-based-solution'|trans }}"
        >
            <i class="fa fa-area-chart fa-orange"></i>
            {{ 'right_navbar.textbook.problem'|trans }} I: {{ 'right_navbar.textbook.challenge'|trans }} 1
        </h5>
    </div>
    <div class="row hide-element smaller-p-tags margin-bottom-20" id="LI-Problem1-Challenge1-Helper1">
        {% include '@App/Textbook/Logarithms/LogarithmicInequalities/Problems/Includes/Helpers/problem1-challenge1-graphBasedSolution.html.twig' %}
    </div>
</div>

<div class="helper-section">
    <div class="row">
        <h5 class="h5-small-font-uppercase cursor-hand"
            onclick="toggleUniversal('LI-Problem1-Challenge1-Helper2')"
            data-toggle="tooltip"
            data-placement="top"
            data-boundary="window"
            title="{{ 'textBook.basic_words.helper-algebra-based-solution'|trans }}"
        >
            <i class="fa fa-list-ol fa-orange"></i>
            {{ 'right_navbar.textbook.problem'|trans }} I: {{ 'right_navbar.textbook.challenge'|trans }} 1
        </h5>
    </div>
    <div class="row hide-element smaller-p-tags margin-bottom-20" id="LI-Problem1-Challenge1-Helper2">
        {% include '@App/Textbook/Logarithms/LogarithmicInequalities/Problems/Includes/Helpers/problem1-challenge1-algebraBasedSolution.html.twig' %}
    </div>
</div>

<div class="helper-section">
    <div class="row">
        <h5 class="h5-small-font-uppercase cursor-hand"
            onclick="toggleUniversal('LI-Problem1-Challenge2-Helper1')"
            data-toggle="tooltip"
            data-placement="top"
            data-boundary="window"
            title="{{ 'textBook.basic_words.helper-graph-based-solution'|trans }}"
        >
            <i class="fa fa-area-chart fa-orange"></i>
            {{ 'right_navbar.textbook.problem'|trans }} I: {{ 'right_navbar.textbook.challenge'|trans }} 2
        </h5>
    </div>
    <div class="row hide-element smaller-p-tags margin-bottom-20" id="LI-Problem1-Challenge2-Helper1">
        {% include '@App/Textbook/Logarithms/LogarithmicInequalities/Problems/Includes/Helpers/problem1-challenge2-graphBasedSolution.html.twig' %}
    </div>
</div>

<div class="helper-section">
    <div class="row">
        <h5 class="h5-small-font-uppercase cursor-hand"
            onclick="toggleUniversal('LI-Problem1-Challenge2-Helper2')"
            data-toggle="tooltip"
            data-placement="top"
            data-boundary="window"
            title="{{ 'textBook.basic_words.helper-algebra-based-solution'|trans }}"
        >
            <i class="fa fa-list-ol fa-orange"></i>
            {{ 'right_navbar.textbook.problem'|trans }} I: {{ 'right_navbar.textbook.challenge'|trans }} 2
        </h5>
    </div>
    <div class="row hide-element smaller-p-tags margin-bottom-20" id="LI-Problem1-Challenge2-Helper2">
        {% include '@App/Textbook/Logarithms/LogarithmicInequalities/Problems/Includes/Helpers/problem1-challenge2-algebraBasedSolution.html.twig' %}
    </div>
</div>

<div class="helper-section">
    <div class="row">
        <h5 class="h5-small-font-uppercase cursor-hand"
            onclick="toggleUniversal('LI-Problem1-Challenge3-Helper1')"
            data-toggle="tooltip"
            data-placement="top"
            data-boundary="window"
            title="{{ 'textBook.basic_words.helper-graph-based-solution'|trans }}"
        >
            <i class="fa fa-area-chart fa-orange"></i>
            {{ 'right_navbar.textbook.problem'|trans }} I: {{ 'right_navbar.textbook.challenge'|trans }} 2
        </h5>
    </div>
    <div class="row hide-element smaller-p-tags margin-bottom-20" id="LI-Problem1-Challenge3-Helper1">
        {% include '@App/Textbook/Logarithms/LogarithmicInequalities/Problems/Includes/Helpers/problem1-challenge3-graphBasedSolution.html.twig' %}
    </div>
</div>

<div class="helper-section">
    <div class="row">
        <h5 class="h5-small-font-uppercase cursor-hand"
            onclick="toggleUniversal('LI-Problem1-Challenge3-Helper2')"
            data-toggle="tooltip"
            data-placement="top"
            data-boundary="window"
            title="{{ 'textBook.basic_words.helper-algebra-based-solution'|trans }}"
        >
            <i class="fa fa-list-ol fa-orange"></i>
            {{ 'right_navbar.textbook.problem'|trans }} I: {{ 'right_navbar.textbook.challenge'|trans }} 3
        </h5>
    </div>
    <div class="row hide-element smaller-p-tags margin-bottom-20" id="LI-Problem1-Challenge3-Helper2">
        {% include '@App/Textbook/Logarithms/LogarithmicInequalities/Problems/Includes/Helpers/problem1-challenge3-algebraBasedSolution.html.twig' %}
    </div>
</div>

