
<p class="margin-top-5 padding-top-0 margin-bottom-15 line-height-20">
    <span class="uppercase-transform red-font"><b>{{ 'basic_words.please-note'|trans }}!!!</b></span>
    <span>{{ 'textBook.basic_words.helper-explanation-1'|trans }}</span>
    <span class="orange-color">
        <b>
         <i class="ion-android-bulb fa-orange font-1-2em"></i>
        {{ 'textBook.basic_words.helper-explanation-2'|trans }}
        </b>
    </span>
    <span>({{ 'textBook.basic_words.helper-explanation-3'|trans }}).</span>

    <span>{{ 'textBook.basic_words.solution-explanation-1'|trans }}</span>
    <span class="orange-color">
        <b>
            <i class="ion-android-done fa-orange font-1-2em"></i>
            {{ 'textBook.basic_words.solution-explanation-2'|trans }}
        </b>
    </span>:)
</p>