{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    {% include 'AppBundle:Book:Includes/leftNavbar.html.twig' %}

    <main class="cd-main-content">
        {% include 'AppBundle:Book:Includes/slider.html.twig' %}

        <div id="content">
            <section id="entry-chapter-text" class="padding-top-80">
                <div class="container">
                    {#SUB - HEADING#}
                    <div class="heading-block text-center">
                        <h3>{{ 'book.game.task'|trans }} IV</h3>
                        <div class="divider divider-short divider-center">
                            {% image '@AppBundle/Resources/public/images/general/dividers/devider-6-1.png' %}
                            <img src="{{ asset_url }}" alt="Divider-Icon-Image" class="i-div">
                            {% endimage %}
                        </div>
                        <p><b>{{ 'book.game.part1.task4.header'|trans }}</b></p>
                    </div>
                </div>
            </section>

            {#GAME TASK 1#}
            <section class="padding-bottom-80">
                {% include '@App/Book/FirstChapter/Includes/game-task-4.html.twig' %}
            </section>

            {#NAVIGATION#}
            <section class="blog padding-top-80 padding-bottom-80 border-top">
                <div class="container">
                    <div class="heading-block text-center animate fadeInUp" data-wow-delay="0.4s">
                        {#BACK: TASK III#}
                        <a href="{{ path('app_book_first_chapter_game_task3') }}" class="btn btn-med btn-color">
                            {{ 'book.game.task'|trans }} III
                        </a>
                        {#NEXT: NEXT CHAPTER - VOLUME TIME CURVE#}
                        <a href="#" class="btn btn-med btn-color">
                            {{ 'book.next.chapter'|trans }}: {{ 'left_navbar.book.chapter2'|trans }}
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}

{% block rightNavigation %}
    {% include 'AppBundle:Book:Includes/rightNavbar.html.twig' %}
{% endblock %}
