{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    {% include 'AppBundle:Textbook/Includes:leftNavbar.html.twig' %}

    <main class="cd-main-content">
        {% include 'AppBundle:Textbook:Includes/slider.html.twig' %}

        <div id="content">
            {#MAIN HEADING#}
            <section id="entry-chapter-text" class="padding-top-80">
                <div class="container">
                    <div class="heading-block text-center margin-bottom-50" data-wow-delay="0.8s">
                        <h3 class="margin-bottom-0">
                            {{ 'left_navbar.textBook.logarithms.inequalities'|trans }}:
                            {{ 'basic_words.problem1'|trans }}
                            <span class="text-lowercase equation-header-h3"><b>$$\log_{\frac{1}{4}}x < 1 $$</b></span>
                        </h3>
                        <hr class="color margin-top-0" >
                    </div>
                </div>
            </section>

            {#PROBLEM 1#}
            <section id="logarithmicInequalitiesIntroduction">
                <div class="container both-sides-text-alignment margin-bottom-20">

                    {# WELCOME + WHAT SHOULD I DO? #}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="list-heading uppercase-transform">
                                <h6>
                                    {{ 'basic_words.welcome'|trans }}!
                                </h6>
                            </div>
                        </div>
                    </div>
                    {# STEPS TO SOLVE ANY PROBLEM #}
                    {% include '@App/Textbook/Logarithms/LogarithmicInequalities/Problems/Includes/solutionSteps.html.twig' %}


                    {# UNDERSTAND THE PROBLEM #}
                    <div class="row" id="understandTheProblem">
                        <div class="col-md-12">
                            <div class="list-heading uppercase-transform">
                                <h6>
                                    <span>I. </span>
                                    {{ 'textBook.basic_words.solutionSteps.step1'|trans }}
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <section>
                                <ul class="list-style list-w-bullets check text-uppercase">
                                    <li>
                                        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text1-1'|trans }}
                                        <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text1-2'|trans }}</b>
                                        ,
                                        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text1-3'|trans }}:
                                        <span class="text-lowercase equation-p-medium"><b>$$\log_{\frac{1}{4}}x < 1 $$</b></span>

                                        <p class="margin-bottom-5 margin-top-5 font-13px">
                                            <i class="fa fa-question fa-orange font-1-2em"></i>
                                            <span class="margin-left-5">{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text1-4'|trans }}
                                                <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text1-5'|trans }}</b>
                                                {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text1-6'|trans }}
                                            </span>
                                        </p>
                                        <p class="margin-bottom-5 margin-top-5 font-13px">
                                            <i class="fa fa-question fa-orange font-1-2em"></i>
                                            <span class="margin-left-5">{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text1-7'|trans }}
                                            </span>
                                        </p>
                                    </li>
                                    <li>
                                        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text2-1'|trans }}:
                                        <p class="margin-bottom-5 margin-top-5 font-13px">
                                            <i class="fa fa-question fa-orange font-1-2em"></i>
                                            <span class="margin-left-5">{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text2-2'|trans }}
                                                <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text2-3'|trans }}</b>
                                                {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text2-4'|trans }}
                                            </span>
                                        </p>
                                        <p class="margin-bottom-5 margin-top-5 font-13px">
                                            <i class="fa fa-question fa-orange font-1-2em"></i>
                                            <span class="margin-left-5">{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text2-5'|trans }}
                                                <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text2-6'|trans }}</b>
                                                {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text2-7'|trans }}
                                            </span>
                                        </p>
                                    </li>
                                </ul>
                            </section>
                        </div>
                        <div class="col-md-6 margin-top-10 text-center margin-bottom-30">
                            <video class="text-center max-width-100-percent" controls>
                                <source
                                        src="{{ asset('videos/textBook/logarithms/inequalities/introduction/01-LI-Introduction.mp4') }}"
                                        type="video/mp4"
                                >
                            </video>
                        </div>
                    </div>


                    {# ANALYZE SOLUTIONS #}
                    <div class="row margin-top-20" id="analyzeSolutions">
                        <div class="col-md-12">
                            <div class="list-heading uppercase-transform">
                                <h6>
                                    <span>II. </span>
                                    {{ 'textBook.basic_words.solutionSteps.step2'|trans }}
                                </h6>
                            </div>
                        </div>
                    </div>


                    {# SOLVE THE PROBLEM #}
                    <div class="row" id="findSolution">
                        <div class="col-md-12">
                            <div class="list-heading uppercase-transform">
                                <h6>
                                    <span>III. </span>
                                    {{ 'textBook.basic_words.solutionSteps.step3'|trans }}
                                </h6>
                            </div>
                        </div>
                    </div>


                    {# CHALLENGE USED PROCEDURE #}
                    <div class="row" id="searchForLimitations">
                        <div class="col-md-12">
                            <div class="list-heading uppercase-transform">
                                <h6>
                                    <span>IV. </span>
                                    {{ 'textBook.basic_words.solutionSteps.step4'|trans }}
                                </h6>
                            </div>
                        </div>
                    </div>

                </div>
            </section>


            {# FOOT: NAVIGATION #}
            <section class="blog padding-top-80 padding-bottom-80 border-top">
                <div class="container">
                    <div class="heading-block text-center animate fadeInUp" data-wow-delay="0.4s">
                        {#NEXT CHAPTER: BACK TO THE CONTENT MAP#}
                        <a
                                href="{{ path('app_textbook_logarithms_inequalities_introduction') }}#LogarithmicInequalitiesContentMap"
                                class="btn btn-med btn-color"
                        >
                            {{ 'basic_words.back-to-contentMap'|trans }}
                        </a>

                        {#NEXT CHAPTER: problem 2#}
                        <a
                                href="#"
                                class="btn btn-med btn-color"
                        >
                            {{ 'basic_words.next-problem'|trans }}: {{ 'basic_words.problem'|trans }} II
                        </a>
                    </div>
                </div>
            </section>

        </div>
    </main>
{% endblock %}
