{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    {% include 'AppBundle:Textbook/Includes:leftNavbar.html.twig' %}

    <main class="cd-main-content">
        {% include 'AppBundle:Textbook:Includes/slider.html.twig' %}

        <div id="content">
            {#MAIN HEADING#}
            <section id="entry-chapter-text" class="padding-top-80">
                <div class="container">
                    <div class="heading-block text-center margin-bottom-0" data-wow-delay="0.8s">
                        <h3 class="margin-bottom-0">
                            {{ 'left_navbar.textBook.logarithms.inequalities'|trans }}:
                            {{ 'basic_words.problem1'|trans }}
                            <span class="text-lowercase equation-header-h3"><b>$$\log_{\frac{1}{4}}x \ge 1 $$</b></span>
                        </h3>
                        <hr class="color margin-top-0" >
                    </div>
                </div>
            </section>

            {#PROBLEM 1 - TEACHER VERSION#}
            {#{% include '@App/Textbook/Logarithms/LogarithmicInequalities/Problems/Includes/Problem1/teacher-version.html.twig' %}#}

            {#PROBLEM 1 - STUDENT VERSION#}
            <section id="problem1-student-version">
                <div class="container both-sides-text-alignment margin-bottom-20">

                    {# ANSWER & HELPERS #}
                    <div class="container">
                        <div class="heading-block text-center">
                            <div class="btn btn-small gray-border btn-orange-border radius margin-top-90"
                                 style="width: 170px"
                                 onclick="toggleUniversal('problem1-challenge1-answer')"
                                 data-toggle="tooltip" data-placement="top"
                                 data-original-title="{{ 'textBook.basic_words.answer-text'|trans }}">
                                 {{ 'basic_words.answer'|trans }}
                            </div>

                            <div class="btn btn-small gray-border btn-orange-border radius margin-top-90"
                                 style="width: 170px"
                                 onclick="toggleUniversal('problem1-challenge1-solution1')"
                                 data-toggle="tooltip" data-placement="top"
                                 data-original-title="{{ 'textBook.basic_words.logarithmic-inequalities.solution1.without-change.text'|trans }}">
                                {{ 'basic_words.solution'|trans }} 1
                            </div>

                            <div class="btn btn-small gray-border btn-orange-border radius margin-top-90"
                                 style="width: 170px"
                                 onclick="toggleUniversalAndHide('problem1-challenge1-solution2')"
                                 data-toggle="tooltip" data-placement="top"
                                 data-original-title="{{ 'textBook.basic_words.logarithmic-inequalities.solution2.text'|trans }}">
                                 {{ 'basic_words.solution'|trans }} 2
                            </div>

                            <div class="btn btn-small gray-border btn-orange-border radius margin-top-90"
                                 style="width: 170px"
                                 onclick="toggleUniversal('problem1-challenge1-teacher')"
                                 data-toggle="tooltip" data-placement="top"
                                 data-original-title="{{ 'textBook.basic_words.for-teachers-text'|trans }}">
                                {{ 'textBook.basic_words.for-teachers'|trans }}
                            </div>

                        </div>
                    </div>

                    {# ANSWER #}
                    {% include '@App/Textbook/Logarithms/LogarithmicInequalities/Problems/Includes/Problem1/student-version-problem1-challenge1-answer.html.twig' %}

                    {# SOLUTION 1 #}
                    {% include '@App/Textbook/Logarithms/LogarithmicInequalities/Problems/Includes/Problem1/student-version-problem1-challenge1-solution1.html.twig' %}
                </div>
            </section>



            {# FOOT: NAVIGATION #}
            <section class="blog padding-top-80 padding-bottom-80 border-top">
                <div class="container">
                    <div class="heading-block text-center animate fadeInUp" data-wow-delay="0.4s">
                        {#PREVIOUS CHAPTER: BACK TO PROBLEM 1#}
                        <a
                                href="{{ path('app_textbook_logarithms_inequalities_problem1') }}#LogarithmicInequalitiesContentMap"
                                class="btn btn-med btn-color"
                        >
                            {{ 'basic_words.back-to-problem'|trans }} 1
                        </a>

                        {#NEXT CHALLENGE: challenge 2#}
                        <a
                                href="#"
                                class="btn btn-med btn-color"
                        >
                            {{ 'basic_words.next-challenge'|trans }}: {{ 'basic_words.challenge'|trans }} II
                        </a>
                    </div>
                </div>
            </section>

        </div>
    </main>
{% endblock %}

{% block rightNavigation %}
    {% include '@App/Textbook/Logarithms/LogarithmicInequalities/Problems/Includes/rightNavbar.html.twig' %}
{% endblock %}
