{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    {% include 'AppBundle:Textbook/Includes:leftNavbar.html.twig' %}

    <main class="cd-main-content">
        {% include 'AppBundle:Textbook:Includes/slider.html.twig' %}

        <div id="content">
            {#MAIN HEADING#}
            <section id="entry-chapter-text" class="padding-top-80">
                <div class="container">
                    <div class="heading-block text-center margin-bottom-0" data-wow-delay="0.8s">
                        <h3 class="margin-bottom-0">
                            {{ 'left_navbar.textBook.logarithms.inequalities'|trans }}:
                            {{ 'basic_words.problem1'|trans }},
                            {{ 'basic_words.challenge'|trans }} II
                            <span class="text-lowercase equation-header-h3"><b>$$\log_{\frac{1}{4}}x < -2 $$</b></span>
                        </h3>
                        <hr class="color margin-top-0" >
                    </div>
                </div>
            </section>

            <section>
                <div class="container both-sides-text-alignment">
                    {# FEW WORDS ABOUT THE PROBLEM #}
                    <div class="container">
                        <div class="col-md-12 heading-block text-center margin-top-40 margin-bottom-0">
                            <p>
                                <i>
                                    {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-challenge2-introduction'|trans }}
                                </i>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            {#PROBLEM 1 - STUDENT VERSION#}
            <section>
                <div class="container both-sides-text-alignment margin-bottom-20">

                    {# ANSWER & HELPERS #}
                    <div class="container">
                        <div class="heading-block text-center">
                            <div class="btn btn-small gray-border btn-orange-border radius margin-top-90"
                                 style="width: 170px"
                                 onclick="toggleUniversal('problem1-challenge2-answer')"
                                 data-toggle="tooltip" data-placement="top"
                                 data-original-title="{{ 'textBook.basic_words.answer-text'|trans }}">
                                 {{ 'basic_words.answer'|trans }}
                            </div>

                            <div class="btn btn-small gray-border btn-orange-border radius margin-top-90"
                                 style="width: 170px"
                                 onclick="toggleUniversal('problem1-challenge2-solution1')"
                                 data-toggle="tooltip" data-placement="top"
                                 data-original-title="{{ 'textBook.basic_words.logarithmic-inequalities.solution1.without-change.text'|trans }}">
                                {{ 'basic_words.solution'|trans }} 1
                            </div>

                            <div class="btn btn-small gray-border btn-orange-border radius margin-top-90"
                                 style="width: 170px"
                                 onclick="toggleUniversalAndHide('problem1-challenge2-solution2')"
                                 data-toggle="tooltip" data-placement="top"
                                 data-original-title="{{ 'textBook.basic_words.logarithmic-inequalities.solution2.text'|trans }}">
                                 {{ 'basic_words.solution'|trans }} 2
                            </div>

                            <div class="btn btn-small gray-border btn-orange-border radius margin-top-90"
                                 style="width: 170px"
                                 onclick="toggleUniversal('problem1-challenge2-teacher')"
                                 data-toggle="tooltip" data-placement="top"
                                 data-original-title="{{ 'textBook.basic_words.for-teachers-text'|trans }}">
                                {{ 'textBook.basic_words.for-teachers'|trans }}
                            </div>

                        </div>
                    </div>

                    {# ANSWER #}
                    {% include '@App/Textbook/Logarithms/LogarithmicInequalities/Problems/Includes/Problem1/student-version-problem1-challenge2-answer.html.twig' %}

                    {# SOLUTION 1 #}
                    {% include '@App/Textbook/Logarithms/LogarithmicInequalities/Problems/Includes/Problem1/student-version-problem1-challenge2-solution1.html.twig' %}
                </div>
            </section>

            {# FOOT: NAVIGATION #}
            <section class="blog padding-top-80 padding-bottom-80 border-top">
                <div class="container">
                    <div class="heading-block text-center animate fadeInUp" data-wow-delay="0.4s">
                        {#PREVIOUS CHAPTER: BACK TO PROBLEM 1#}
                        <a
                                href="{{ path('app_textbook_logarithms_inequalities_problem1') }}"
                                class="btn btn-med btn-color"
                        >
                            {{ 'basic_words.back-to-problem'|trans }} I
                        </a>

                        {#NEXT CHALLENGE: CHALLENGE 3#}
                        <a
                                href="{{ path('app_textbook_logarithms_inequalities_problem1_challenge3') }}"
                                class="btn btn-med btn-color"
                        >
                            {{ 'basic_words.next-challenge'|trans }}: {{ 'basic_words.challenge'|trans }} III
                        </a>
                    </div>
                </div>
            </section>

        </div>
    </main>
{% endblock %}


