<p>
    {{ 'right_navbar.book.answer13.text1'|trans }}
    <span class="colour-font"><b> {{ 'right_navbar.book.answer13.text2'|trans }}</b></span>
    {{ 'right_navbar.book.answer13.text3'|trans }}
    {{ 'right_navbar.book.answer13.text4-1'|trans }},
    <span class="colour-font"><b>{{ 'right_navbar.book.answer13.text4-2'|trans }}</b></span>,
    {{ 'right_navbar.book.answer13.text4-3'|trans }}
</p>
<p class="margin-top-5">
    <i>({{ 'right_navbar.book.answer13.text5'|trans }})</i>
</p>
