<p>
    <span class="colour-font"><b>{{ 'right_navbar.book.answer15.text1-1'|trans }}</b></span>
    {{ 'right_navbar.book.answer15.text1-2'|trans }}
    <span class="colour-font"><b>{{ 'right_navbar.book.answer15.text1-3'|trans }}</b></span>
    {{ 'right_navbar.book.answer15.text1-4'|trans }}.
</p>

<p class="margin-top-5">
    <span class="colour-font"><b>{{ 'right_navbar.book.answer15.text2-1'|trans }}</b></span>
    {{ 'right_navbar.book.answer15.text2-2'|trans }}
    <span class="colour-font"><b>{{ 'right_navbar.book.answer15.text2-3'|trans }}</b></span>.
</p>

<p class="margin-top-5">
    <span class="colour-font"><b>{{ 'right_navbar.book.answer15.text3-1'|trans }}</b></span>
    {{ 'right_navbar.book.answer15.text3-2'|trans }}
    <span class="colour-font"><b>{{ 'right_navbar.book.answer15.text3-3'|trans }}</b></span>.
</p>


<p class="margin-top-15">
    <span><b>{{ 'right_navbar.book.answer15.text4'|trans }}</b></span>
</p>
<table class="table table-bordered table-hover margin-top-5">
    <thead>
        <tr class="active">
            <th>{{ 'right_navbar.book.answer15.table11'|trans }}</th>
            <th>{{ 'right_navbar.book.answer15.table12'|trans }}</th>
            <th>{{ 'right_navbar.book.answer15.table13'|trans }}</th>
            <th>{{ 'right_navbar.book.answer15.table14'|trans }}</th>
            <th>{{ 'right_navbar.book.answer15.table15'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="active">
                <b>{{ 'right_navbar.book.answer15.table21'|trans }}</b>
            </td>
            <td>2.34</td>
            <td>0.5</td>
            <td>0.82</td>
            <td>1.02</td>
        </tr>
        <tr>
            <td class="active">
                <b>{{ 'right_navbar.book.answer15.table31'|trans }}</b>
            </td>
            <td>4.06</td>
            <td><0.6, 0.73></td>
            <td>1.02</td>
            <td>2.44</td>
        </tr>
    </tbody>
</table>
