<p>{{ 'right_navbar.book.answer14.text1'|trans }}</p>
<div class="margin-top-10 margin-bottom-10">
    {% image '@AppBundle/Resources/public/images/book/first-chapter/114-answer.png' %}
    <img src="{{ asset_url }}" alt="Answer 1-1 graph" >
    {% endimage %}
</div>
<p>{{ 'right_navbar.book.answer14.text2'|trans }}</p>
<p>{{ 'right_navbar.book.answer14.text3'|trans }}</p>

<div class="margin-top-15">
    <p>
        <i>
            {{ 'book.note'|trans }}:{{ 'right_navbar.book.answer14.text4'|trans }}
        </i>
    </p>
</div>