<p>
    {{ 'right_navbar.book.answer12.text1-1'|trans }}
    <span class="colour-font"><b>{{ 'right_navbar.book.answer12.text1-2'|trans }}</b></span>.
</p>

<p class="margin-top-5">
    {{ 'right_navbar.book.answer12.text2'|trans }}
</p>

<p class="margin-top-5">
    {{ 'right_navbar.book.answer12.text3'|trans }}
    <span class="colour-font"><b>{{ 'right_navbar.book.answer12.text4'|trans }}</b></span>.
</p>
