<div class="row">
    <div class="col-md-6">
        <section>
            <ul class="list-style list-w-bullets check text-uppercase">
                <li>
                    <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text3-1'|trans }}</b>
                    -
                    {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text3-2'|trans }}
                    {{ 'textBook.basic_words.solution'|trans }}
                    <p class="margin-bottom-5 margin-top-10 font-13px">
                        <i
                                class="fa fa-bug fa-orange font-1-2em" data-toggle="tooltip" data-placement="right"
                                data-boundary="window"
                                title="{{ 'textBook.basic_words.bug'|trans }}"
                        ></i>
                        <span class="margin-left-5">
                            {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text3-3'|trans }}
                        </span>
                        <br>
                        <span class="margin-left-17">{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text3-4'|trans }}</span>
                    </p>
                </li>
                <li>
                    <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text4-1'|trans }}</b>
                    -
                    {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text4-2'|trans }}
                    {{ 'textBook.basic_words.solution'|trans }}
                    <p class="margin-bottom-5 margin-top-10 font-13px">
                        <i
                                class="fa fa-bug fa-orange font-1-2em" data-toggle="tooltip" data-placement="right"
                                data-boundary="window"
                                title="{{ 'textBook.basic_words.bug'|trans }}"
                        ></i>
                        <span class="margin-left-5">
                            {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text4-3'|trans }}
                        </span>
                        <br>
                        <span class="margin-left-17">{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text4-4'|trans }}</span>
                    </p>
                </li>
            </ul>
        </section>
    </div>
    <div class="col-md-6 margin-top-10 text-center margin-bottom-30">
        <video class="text-center max-width-100-percent" controls>
            <source
                    src="{{ asset('bundles/app/videos/textBook/logarithms/inequalities/problems/problem1/Analyze.mp4') }}"
                    type="video/mp4"
            >
        </video>
    </div>
</div>