<div class="row">
    <div class="col-md-12 margin-top-0 padding-top-0">
            {% include '@App/Textbook/Logarithms/LogarithmicInequalities/Problems/Includes/rightNavbarExplanation.html.twig' %}
    </div>
    <div class="col-md-6">
        <section>
            <ul class="list-style list-with-numbers text-uppercase">
                {# CHALLENGE 1 #}
                <li class="padding-bottom-0">
                    <span class="orange-color padding-right-10"><b>1.</b></span>
                    <span>
                        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text10'|trans }}
                        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text11-1'|trans }}
                        <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text11-2'|trans }}</b>
                        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text11-3'|trans }}
                    </span>
                    <span class="text-lowercase equation-p-medium"><b>$$ \log_{\frac{1}{4}}x < -2 $$</b></span>
                </li>

                {# CHALLENGE 2 #}
                <li class="padding-bottom-0">
                    <span class="orange-color padding-right-10"><b>2.</b></span>
                    <span>
                        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text12-1'|trans }}
                        <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text12-2'|trans }}</b>
                        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text12-3'|trans }}?
                        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text12-4'|trans }}?
                    </span>
                    <span class="text-lowercase equation-p-medium"><b>$$ \log_{4}x < 1 $$</b></span>

                </li>

                {# CHALLENGE 3 #}
                <li class="padding-bottom-0">
                    <span class="orange-color padding-right-10"><b>3.</b></span>
                        <span>
                        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text13-1'|trans }}
                        <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text13-2'|trans }}</b>
                        ?
                    </span>
                    <span class="text-lowercase equation-p-medium"><b>$$ log_{\frac{1}{4}}x \geq 1 $$</b></span>

                </li>
            </ul>
        </section>
    </div>
    <div class="col-md-6 margin-top-15 text-center margin-bottom-30">
        <video class="text-center max-width-100-percent border-around" controls>
            <source
            src="{{ asset('bundles/app/videos/textBook/logarithms/inequalities/problems/problem1/Challenge.mp4') }}"
            type="video/mp4"
            >
        </video>
    </div>

    {#<div class="col-md-2 col-sm-12">#}
        {#<a#}
                {#href="#."#}
                {#class="btn btn-small gray-border radius width-100 padding-left-5 padding-right-5 margin-bottom-5"#}
                {#data-toggle="tooltip"#}
                {#data-placement="top"#}
                {#data-boundary="window"#}
                {#onclick="toggleUniversal('Problem1-Challenge1-Helper1-Graph-Based-Solution')"#}
                {#title="{{ 'textBook.basic_words.helper-graph-based-solution'|trans }}"#}
        {#>#}
            {#{{ 'textBook.basic_words.help-me'|trans }}#}
            {#<i class="fa fa-area-chart fa-orange"></i>#}
        {#</a>#}
    {#</div>#}
</div>