{# GRAPH-BASED SOLUTION #}
<div class="row margin-bottom-20">
    <div class="col-md-12">
        <h7
                class="uppercase-transform cursor-hand margin-top-10 orange-hover"
                onclick="toggleUniversal('Problem1-GraphBasedSolution')"
        >
            <i class="fa fa-area-chart fa-orange font-1-2em"></i>
            <span class="margin-left-15">
            <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text3-1'|trans }}</b>
            -
                {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text3-2'|trans }}
                {{ 'textBook.basic_words.solution'|trans }}
            </span>
        </h7>
        <div class="row hide-element" id="Problem1-GraphBasedSolution">
            <div class="col-md-6 margin-top-10 text-center margin-bottom-30">
                {% include '@App/Textbook/Logarithms/LogarithmicInequalities/Problems/Includes/Problem1/solve-video1.html.twig' %}
            </div>
            <div class="col-md-6">
                <p>hhhh</p>
            </div>
        </div>
    </div>
</div>

{# ALGEBRA-BASED SOLUTION #}
<div class="row margin-bottom-30">
    <div class="col-md-12">
        <h7
                class="uppercase-transform cursor-hand orange-hover"
                onclick="toggleUniversal('Problem1-AlgebraBasedSolution')"
        >
            <i class="fa fa-list-ol fa-orange font-1-2em"></i>
            <span class="margin-left-15">
            <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text4-1'|trans }}</b>
            -
                {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text4-2'|trans }}
                {{ 'textBook.basic_words.solution'|trans }}
            </span>
        </h7>
        <div class="row hide-element" id="Problem1-AlgebraBasedSolution">
            <div class="col-md-6">
                <p>hhhh 2</p>
            </div>
        </div>
    </div>
</div>