{# STEPS TO SOLVE ANY PROBLEM #}
<div class="process">
    <div class="process-style-1 margin-top-30">
        <ul>
            <!-- 1 -->
            <li>
                <div class="thumb scroll">
                    <a href="#understandTheProblem">
                        {% image '@AppBundle/Resources/public/images/book/first-chapter/reading-2.gif' %}
                            <img src="{{ asset_url }}" alt="Understand the problem" >
                        {% endimage %}
                        <span class="transparent-bcg">01</span>
                    </a>
                </div>
                <div class="margin-left-20 margin-right-20">
                    <h6>{{ 'textBook.basic_words.solutionSteps.step1'|trans }}</h6>
                    <p>
                        {{ 'textBook.basic_words.solutionSteps.step1-text1'|trans }}
                    </p>
                </div>
            </li>
            <!-- 2 -->
            <li>
                <div class="thumb scroll">
                    <a href="#analyzeSolutions">
                        {% image '@AppBundle/Resources/public/images/textBook/analyze.png' %}
                            <img src="{{ asset_url }}" alt="Analyze possible solutions" >
                        {% endimage %}
                        <span class="transparent-bcg">02</span>
                    </a>
                </div>
                <div class="margin-left-20 margin-right-20">
                    <h6>{{ 'textBook.basic_words.solutionSteps.step2'|trans }}</h6>
                    <p>
                        {{ 'textBook.basic_words.solutionSteps.step2-text1'|trans }}
                    </p>
                </div>
            </li>
            <!-- 3 -->
            <li>
                <div class="thumb  scroll">
                    <a href="#findSolution">
                        {% image '@AppBundle/Resources/public/images/textBook/solve.jpg' %}
                            <img src="{{ asset_url }}" alt="Solve the problem" >
                        {% endimage %}
                        <span class="transparent-bcg">03</span>
                    </a>
                </div>
                <div class="margin-left-20 margin-right-20">
                    <h6>{{ 'textBook.basic_words.solutionSteps.step3'|trans }}</h6>
                    <p>
                        {{ 'textBook.basic_words.solutionSteps.step3-text1'|trans }}
                    </p>
                </div>
            </li>
            <!-- 4 -->
            <li>
                <div class="thumb scroll">
                    <a href="#searchForLimitations">
                        {% image '@AppBundle/Resources/public/images/textBook/challenge.jpg' %}
                            <img src="{{ asset_url }}" alt="Challenge used procedures" >
                        {% endimage %}
                        <span class="transparent-bcg">04</span>
                    </a>
                </div>
                <div class="margin-left-20 margin-right-20">
                    <h6>{{ 'textBook.basic_words.solutionSteps.step4'|trans }}</h6>
                    <p>
                        {{ 'textBook.basic_words.solutionSteps.step4-text1'|trans }}
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>