<div class="row">
    <div class="col-md-6">
        <section>
            <ul class="list-style list-w-bullets check text-uppercase">
                <li>
                    <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text2-0'|trans }}:</b>
                    {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text2-1-2'|trans }}
                    <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text2-1-3'|trans }}</b>
                    <span class="text-lowercase equation-p-medium"><b>$$\log_{\frac{1}{4}}x < 1 $$</b></span>
                    <p class="margin-bottom-5 margin-top-10 font-13px">
                        <i
                                class="fa fa-bug fa-orange font-1-2em" data-toggle="tooltip" data-placement="right"
                                data-boundary="window"
                                title="{{ 'textBook.basic_words.bug'|trans }}"
                        ></i>
                        <span class="margin-left-5">
                            {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text2-5'|trans }}
                            <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text2-6'|trans }}</b>
                            {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text2-7'|trans }}
                            <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text2-8'|trans }}</b>
                            {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text2-9'|trans }}
                            {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text2-10'|trans }}
                            <b>  {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text2-11'|trans }}</b>
                            1?
                        </span>
                    </p>
                </li>
                <li>
                    <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text1-0'|trans }}:</b>
                    {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text1-1'|trans }}
                    <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text1-2'|trans }}</b>
                    ,
                    {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text1-3'|trans }}

                    <p class="margin-bottom-5 margin-top-5 font-13px">
                        <i
                                class="fa fa-question fa-orange font-1-2em" data-toggle="tooltip" data-placement="right"
                                data-boundary="window"
                                title="{{ 'textBook.basic_words.questionmark'|trans }}"
                        ></i>
                        <span class="margin-left-5">{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text1-4'|trans }}
                            <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text1-5'|trans }}</b>
                            {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text1-6'|trans }}
                                            </span>
                    </p>
                    <p class="margin-bottom-5 margin-top-5 font-13px">
                        <i
                                class="fa fa-question fa-orange font-1-2em" data-toggle="tooltip" data-placement="right"
                                data-boundary="window"
                                title="{{ 'textBook.basic_words.questionmark'|trans }}"
                        ></i>
                        <span class="margin-left-5">{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text1-7'|trans }}
                                            </span>
                    </p>
                </li>
            </ul>
        </section>
    </div>
    <div class="col-md-6 margin-top-10 text-center">
        <video class="text-center max-width-100-percent border-around" controls>
            <source
                    src="{{ asset('bundles/app/videos/textBook/logarithms/inequalities/problems/problem1/Understand.mp4') }}"
                    type="video/mp4"
            >
        </video>
    </div>
</div>