{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <main class="cd-main-content">
        {% include 'AppBundle:Default:Includes/slider.html.twig' %}

        <div id="services"  class="why-choose">
            <section class="padding-top-80 padding-bottom-80">
                <div class="container">
                    <!-- MAIN HEADING -->
                    <div class="heading-block text-center animate fadeInUp" data-wow-delay="0.4s">
                        <h3>{{ 'personal.martina.citation'|trans }}</h3>
                        <div class="divider divider-short divider-center">
                            {% image '@AppBundle/Resources/public/images/general/dividers/hammers.png' %}
                            <img src="{{ asset_url }}" alt="Divider-Icon-Image" class="i-div">
                            {% endimage %}
                        </div>
                        <span>{{ 'personal.martina.author.citation'|trans }}</span>
                    </div>

                    <!-- Why Choose Us  ROW-->
                    <div class="row">
                        <div class="col-md-7 animate fadeInLeft" data-wow-delay="0.4s">

                            <!-- Tittle -->
                            <div class="heading-block margin-bottom-10">
                                <span class="margin-bottom-10">
                                    {{ 'personal.martina.introduction-headline-1'|trans }}
                                </span>
                                <h4>
                                    {{ 'personal.martina.introduction-headline-2'|trans }}
                                </h4>
                            </div>
                            <p>{{ 'personal.martina.introduction-part-1-text-1'|trans }}</p>
                            <p>{{ 'personal.martina.introduction-part-1-text-2'|trans }}</p>
                            <p>{{ 'personal.martina.introduction-part-1-text-3'|trans }}</p>
                            <p>{{ 'personal.martina.introduction-part-1-text-4'|trans }}</p>
                            <p>{{ 'personal.martina.introduction-part-1-text-5'|trans }}</p>
                            <div class="ultra-ser">
                                <hr>
                                <span>
                                    <span class="name">
                                        {{ 'personal.martina.sign'|trans }}&nbsp; - &nbsp;
                                    </span>
                                    <span>
                                         {{ 'personal.martina.possition'|trans }}&nbsp;
                                    </span>
                                </span>
                            </div>

                        </div>

                        <!-- Foto -->
                        <div class="col-md-5 text-right margin-top-70 animate fadeInRight" data-wow-delay="0.4s">
                            {% image '@AppBundle/Resources/public/images/personal/martina.jpg' %}
                            <img src="{{ asset_url }}" alt="introduction-picture1" class="img-responsive"
                                 style="max-width: 400px">
                            {% endimage %}
                        </div>
                    </div>

                    <!-- Services ROW -->
                    <div class="row margin-top-60">

                        <!-- Services -->
                        <div class="col-md-4 animate fadeInUp" data-wow-delay="0.4s">
                            <div class="clearfix icon-box ib-style-2 i-large i-top padding-bottom-15 border-bottom-1 border-light">
                                <div class="ib-icon"><i class="fa fa-paper-plane-o"></i></div>
                                <div class="ib-info">
                                    <h4 class="h6"> {{ 'personal.martina.part1.headlie'|trans }}</h4>
                                    <p>Contrary to popular belief , Lorem Ipsum is not simply random text. It has roots
                                        in a piece</p>
                                </div>
                            </div>
                        </div>

                        <!-- Services -->
                        <div class="col-md-4 animate fadeInUp" data-wow-delay="0.6s">
                            <div class="clearfix icon-box ib-style-2 i-large i-top padding-bottom-15 border-bottom-1 border-light">
                                <div class="ib-icon"><i class="fa fa-tencent-weibo"></i></div>
                                <div class="ib-info">
                                    <h4 class="h6">{{ 'personal.martina.part2.headlie'|trans }}</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem not simply random
                                        accusantium</p>
                                </div>
                            </div>
                        </div>

                        <!-- Services -->
                        <div class="col-md-4 margin-bottom-30 animate fadeInUp" data-wow-delay="0.8s">
                            <div class="clearfix icon-box ib-style-2 i-large i-top padding-bottom-15 border-bottom-1 border-light">
                                <div class="ib-icon"><i class="fa fa-sliders"></i></div>
                                <div class="ib-info">
                                    <h4 class="h6">{{ 'personal.martina.part3.headlie'|trans }}</h4>
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                                        in a piece</p>
                                </div>
                            </div>
                        </div>

                        <!-- Services -->
                        <div class="col-md-4 animate fadeInUp" data-wow-delay="0.4s">
                            <div class="clearfix icon-box ib-style-2 i-large i-top padding-bottom-31">
                                <div class="ib-icon"><i class="fa fa-moon-o"></i></div>
                                <div class="ib-info">
                                    <h4 class="h6">{{ 'personal.martina.part4.headlie'|trans }}</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                                </div>
                            </div>
                        </div>

                        <!-- Services -->
                        <div class="col-md-4 animate fadeInUp" data-wow-delay="0.6s">
                            <div class="clearfix icon-box ib-style-2 i-large i-top padding-bottom-31">
                                <div class="ib-icon"><i class="fa fa-heart-o"></i></div>
                                <div class="ib-info">
                                    <h4 class="h6">{{ 'personal.martina.part5.headlie'|trans }}</h4>
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                                        in a piece</p>
                                </div>
                            </div>
                        </div>

                        <!-- Services -->
                        <div class="col-md-4 animate fadeInUp" data-wow-delay="0.8s">
                            <div class="clearfix icon-box ib-style-2 i-large i-top padding-bottom-31">
                                <div class="ib-icon"><i class="fa fa-hdd-o"></i></div>
                                <div class="ib-info">
                                    <h4 class="h6">{{ 'personal.martina.part6.headlie'|trans }}</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
