{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <main class="cd-main-content">
        {% include '@App/Personal/Includes/sliderBabinskaMartina.html.twig' %}

        <div id="services" class="why-choose">
            <section class="padding-top-80 padding-bottom-80">
                <div class="container">
                    {# CITATION #}
                    <div class="heading-block text-center">
                        <h3>{{ 'personal.martina.citation'|trans }}</h3>
                        <div class="divider divider-short divider-center">
                            {% image '@AppBundle/Resources/public/images/general/dividers/hammers.png' %}
                                <img src="{{ asset_url }}" alt="Divider-Icon-Image" class="i-div" >
                            {% endimage %}
                        </div>
                        <span>{{ 'personal.martina.author.citation'|trans }}</span>
                    </div>

                    {# INTRODUCTION INFO #}
                    <div class="row">
                        <div class="col-md-7 both-sides-text-alignment">
                            <div class="heading-block margin-bottom-10">
                                <span class="margin-bottom-10">
                                    {{ 'personal.martina.introduction-headline-1'|trans }}
                                </span>
                                <h4>
                                    {{ 'personal.martina.introduction-headline-2'|trans }}
                                </h4>
                            </div>
                            <p>{{ 'personal.martina.introduction-part-1-text-1'|trans }}</p>
                            <p>{{ 'personal.martina.introduction-part-1-text-2'|trans }}</p>
                            <p>{{ 'personal.martina.introduction-part-1-text-3'|trans }}</p>
                            <p>
                                {{ 'personal.martina.introduction-part-1-text-4'|trans }}
                                {{ 'personal.martina.introduction-part-1-text-5'|trans }}
                                {{ 'personal.martina.introduction-part-1-text-6'|trans }}
                            </p>
                            <p>
                                <span>
                                    <i>
                                        {{ 'personal.martina.introduction-part-1-text-7-1'|trans }}.
                                    </i>
                                </span>
                            </p>
                            <div class="ultra-ser">
                                <hr>
                                <span>
                                    <span class="name">
                                        {{ 'personal.martina.sign'|trans }}&nbsp; - &nbsp;
                                    </span>
                                    <span>
                                         {{ 'personal.martina.possition'|trans }}&nbsp;
                                    </span>
                                </span>
                            </div>

                        </div>
                        <div class="col-md-5 text-right margin-top-70">
                            {% image '@AppBundle/Resources/public/images/personal/martina.jpg' %}
                                <img
                                        src="{{ asset_url }}" alt="introduction-picture1" class="img-responsive"
                                        style="max-width: 400px"
                                >
                            {% endimage %}
                        </div>
                    </div>

                    {# CV DETAILS #}
                    <div id="cv" class="row margin-top-60">

                        {# RESEARCH #}
                        <div class="col-md-4 animate fadeInUp" data-wow-delay="0.4s">
                            <div class="clearfix icon-box ib-style-2 i-large i-top padding-bottom-10 border-top border-light padding-top-20">
                                <div class="ib-icon">
                                    <i class="fa fa-paper-plane-o"></i>
                                </div>
                                <div class="ib-info both-sides-text-alignment">
                                    <h4 class="h6"> {{ 'personal.martina.part1.headlie'|trans }}</h4>
                                    <p>
                                        {{ 'personal.martina.part1.headlie.text-1'|trans }}
                                        {{ 'personal.martina.part1.headlie.text-2'|trans }}
                                    </p>
                                    <p>
                                         <span class="scroll">
                                             <b>
                                                <a href="#infoResearch" class="text-color-primary">
                                                    {{ 'personal.read'|trans }}
                                                </a>
                                             </b>
                                         </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        {# PUBLICATIONS #}
                        <div class="col-md-4 animate fadeInUp" data-wow-delay="0.6s">
                            <div class="clearfix icon-box ib-style-2 i-large i-top padding-bottom-31 border-top border-light padding-top-20">
                                <div class="ib-icon">
                                    <i class="fa fa-tencent-weibo"></i>
                                </div>
                                <div class="ib-info both-sides-text-alignment">
                                    <h4 class="h6">{{ 'personal.martina.part2.headlie'|trans }}</h4>
                                    <p>
                                        {{ 'personal.martina.part2.headlie.text-1'|trans }}
                                        {{ 'personal.martina.part2.headlie.text-2'|trans }}
                                        {{ 'personal.martina.part2.headlie.text-3'|trans }}
                                        {{ 'personal.martina.part2.headlie.text-4'|trans }}
                                    </p>
                                    <p>
                                         <span class="scroll">
                                             <b>
                                                <a href="#infoPublication" class="text-color-primary">
                                                    {{ 'personal.read'|trans }}
                                                </a>
                                             </b>
                                         </span>
                                    </p>
                                </div>
                            </div>
                        </div>


                        {# WORK EXPERIENCE #}
                        <div class="col-md-4 animate fadeInUp" data-wow-delay="0.8s">
                            <div class="clearfix icon-box ib-style-2 i-large i-top padding-bottom-10 border-top border-light padding-top-20">
                                <div class="ib-icon">
                                    <i class="fa fa-archive"></i>
                                </div>
                                <div class="ib-info both-sides-text-alignment">
                                    <h4 class="h6">{{ 'personal.martina.part5.headlie-1'|trans }}</h4>
                                    <p>
                                        {{ 'personal.martina.part5.headlie.text-1'|trans }}:
                                        {{ 'personal.martina.part5.headlie.text-2'|trans }}.
                                        {{ 'personal.martina.part5.headlie.text-3'|trans }}.
                                        {{ 'personal.martina.part5.headlie.text-4'|trans }}.
                                    </p>
                                    <p>
                                         <span class="scroll">
                                             <b>
                                                <a href="#infoWork" class="text-color-primary">
                                                    {{ 'personal.read'|trans }}
                                                </a>
                                             </b>
                                         </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row margin-top-20">

                        {# TEACHING AND STUDENTS' WORK #}
                        <div class="col-md-4 margin-bottom-30 animate fadeInUp" data-wow-delay="1.0s">
                            <div class="clearfix icon-box ib-style-2 i-large i-top padding-bottom-31 border-top border-light padding-top-20">
                                <div class="ib-icon">
                                    <i class="fa fa-sliders"></i>
                                </div>
                                <div class="ib-info both-sides-text-alignment">
                                    <h4 class="h6">{{ 'personal.martina.part3.headlie'|trans }}</h4>
                                    <p>
                                        {{ 'personal.martina.part3.headlie.text-1'|trans }}
                                        {{ 'personal.martina.part3.headlie.text-2'|trans }}
                                    </p>
                                    <p>
                                         <span class="scroll">
                                             <b>
                                                <a href="#infoTeaching" class="text-color-primary">
                                                    {{ 'personal.read'|trans }}
                                                </a>
                                             </b>
                                         </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        {# EDUCATION #}
                        <div class="col-md-4 animate fadeInUp" data-wow-delay="1.2s">
                            <div class="clearfix icon-box ib-style-2 i-large i-top padding-bottom-10 border-top border-light padding-top-20">
                                <div class="ib-icon">
                                    <i class="fa fa-graduation-cap"></i>
                                </div>
                                <div class="ib-info both-sides-text-alignment">
                                    <h4 class="h6">{{ 'personal.martina.part4.headlie'|trans }}</h4>
                                    <p>
                                        {{ 'personal.martina.part4.headlie.text'|trans }}
                                    </p>
                                    <p>
                                         <span class="scroll">
                                             <b>
                                                <a href="#infoEducation" class="text-color-primary">
                                                    {{ 'personal.read'|trans }}
                                                </a>
                                             </b>
                                         </span>
                                    </p>
                                </div>
                            </div>
                        </div>


                        {# REFERENCES #}
                        <div class="col-md-4 animate fadeInUp" data-wow-delay="1.4s">
                            <div class="clearfix icon-box ib-style-2 i-large i-top padding-bottom-31 border-top border-light padding-top-20">
                                <div class="ib-icon">
                                    <i class="fa fa-group"></i>
                                </div>
                                <div class="ib-info both-sides-text-alignment">
                                    <h4 class="h6">{{ 'personal.martina.part6.headlie'|trans }}</h4>
                                    <p>
                                        {{ 'personal.martina.part6.headlie.text-1'|trans }}
                                        {{ 'personal.martina.part6.headlie.text-2'|trans }}
                                    </p>
                                    <p>
                                         <span class="scroll">
                                             <b>
                                                <a href="#infoReference" class="text-color-primary">
                                                    {{ 'personal.read'|trans }}
                                                </a>
                                             </b>
                                         </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    {# RESEARCH #}
                    <div id="infoResearch">
                        {% include '@App/Personal/BabinskaMartina/Includes/research.html.twig' %}
                    </div>

                    {# TEACHING AND STUDENTS' WORK #}
                    <div id="infoTeaching" class="padding-top-30">
                        {% include 'AppBundle:Personal:BabinskaMartina/Includes/teaching.html.twig' %}
                    </div>

                    {# PUBLICATIONS #}
                    <div id="infoPublication" class="padding-top-30">
                        {% include '@App/Personal/BabinskaMartina/Includes/publications.html.twig' %}
                    </div>

                    {# EDUCATION #}
                    <div id="infoEducation" class="padding-top-30">
                        {% include 'AppBundle:Personal:BabinskaMartina/Includes/education.html.twig' %}
                    </div>

                    {# WORK EXPERIENCE #}
                    <div id="infoWork" class="padding-top-30">
                        {% include 'AppBundle:Personal:BabinskaMartina/Includes/work.html.twig' %}
                    </div>

                    {# REFERENCES #}
                    <div id="infoReference" class="padding-top-30">
                        {% include '@App/Personal/BabinskaMartina/Includes/reference.html.twig' %}
                    </div>

                </div>
            </section>
        </div>
    </main>
{% endblock %}
