<!--======= HOME MAIN SLIDER =========-->
<section class="home-slider">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE 1  -->
                <li data-transition="fade" data-slotamount="6" data-masterspeed="800" data-saveperformance="on">
                    <!-- MAIN IMAGE -->
                    {% image '@AppBundle/Resources/public/images/personal/wallpaper.jpg' %}
                        <img
                                src="{{ asset_url }}" alt="home_slider2" data-bgposition="center top" data-bgfit="cover"
                                data-bgrepeat="no-repeat"
                        >
                    {% endimage %}

                    <!-- LAYER NR. 1 -->
                    <div
                            class="tp-caption sfb tp-resizeme"
                            data-x="right" data-hoffset="0"
                            data-y="center" data-voffset="-20"
                            data-speed="1000"
                            data-start="2000"
                            data-easing="Power3.easeInOut"
                            data-splitin="chars"
                            data-splitout="none"
                            data-elementdelay="0.06"
                            data-endelementdelay="0.1"
                            data-endspeed="300"
                            style="z-index: 5; font-size: 30px; color:white; max-width: auto; max-height: auto; white-space: nowrap;"
                    >
                        {{ 'personal.martina.main-research-ideas-slide-1'|trans }}
                    </div>
                </li>

                <!-- SLIDE 2  -->
                <li
                        data-transition="3dcurtain-vertical" data-slotamount="6" data-masterspeed="800"
                        data-saveperformance="off"
                >
                    <!-- MAIN IMAGE -->
                    {% image '@AppBundle/Resources/public/images/personal/wallpaper.jpg' %}
                        <img
                                src="{{ asset_url }}" alt="home_slider2" data-bgposition="center top" data-bgfit="cover"
                                data-bgrepeat="no-repeat"
                        >
                    {% endimage %}

                    <!-- LAYER NR. 1 -->
                    <div
                            class="tp-caption sfb tp-resizeme"
                            data-x="right" data-hoffset="0"
                            data-y="center" data-voffset="-20"
                            data-speed="1000"
                            data-start="2500"
                            data-easing="Power3.easeInOut"
                            data-splitin="chars"
                            data-splitout="none"
                            data-elementdelay="0.06"
                            data-endelementdelay="0.1"
                            data-endspeed="300"
                            style="z-index: 5; font-size: 30px; color:white; max-width: auto; max-height: auto; white-space: nowrap;"
                    >
                        {{ 'personal.martina.main-research-ideas-slide-2-1'|trans }}
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption sfb tp-resizeme"
                         data-x="right" data-hoffset="0"
                         data-y="center" data-voffset="40"
                         data-speed="1000"
                         data-start="4500"
                         data-easing="Power3.easeInOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.07"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 6; font-size: 28px; color:white; max-width: auto; max-height: auto; white-space: nowrap;">
                        {{ 'personal.martina.main-research-ideas-slide-2-2'|trans }}
                    </div>
                </li>

                <!-- SLIDE 3 -->
                <li
                        data-transition="3dcurtain-horizontal" data-slotamount="6" data-masterspeed="800"
                        data-saveperformance="off"
                >
                    <!-- MAIN IMAGE -->
                    {% image '@AppBundle/Resources/public/images/personal/wallpaper.jpg' %}
                        <img
                                src="{{ asset_url }}" alt="home_slider2" data-bgposition="center top" data-bgfit="cover"
                                data-bgrepeat="no-repeat"
                        >
                    {% endimage %}

                    <!-- LAYER NR. 1 -->
                    <div
                            class="tp-caption sfb tp-resizeme"
                            data-x="right" data-hoffset="0"
                            data-y="center" data-voffset="-20"
                            data-speed="1000"
                            data-start="2500"
                            data-easing="Power3.easeInOut"
                            data-splitin="chars"
                            data-splitout="none"
                            data-elementdelay="0.06"
                            data-endelementdelay="0.1"
                            data-endspeed="300"
                            style="z-index: 5; font-size: 30px; color:white; max-width: auto; max-height: auto; white-space: nowrap;"
                    >
                        {{ 'personal.martina.main-research-ideas-slide-3-1'|trans }}
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption sfb tp-resizeme"
                         data-x="right" data-hoffset="0"
                         data-y="center" data-voffset="40"
                         data-speed="1000"
                         data-start="4500"
                         data-easing="Power3.easeInOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.07"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 6; font-size: 28px; color:white; max-width: auto; max-height: auto; white-space: nowrap;">
                        {{ 'personal.martina.main-research-ideas-slide-3-2'|trans }}
                    </div>
                </li>

                <!-- SLIDE 4 -->
                <li
                        data-transition="3dcurtain-vertical" data-slotamount="6" data-masterspeed="800"
                        data-saveperformance="off"
                >
                    <!-- MAIN IMAGE -->
                    {% image '@AppBundle/Resources/public/images/personal/wallpaper.jpg' %}
                        <img
                                src="{{ asset_url }}" alt="home_slider2" data-bgposition="center top" data-bgfit="cover"
                                data-bgrepeat="no-repeat"
                        >
                    {% endimage %}

                    <!-- LAYER NR. 1 -->
                    <div
                            class="tp-caption sfb tp-resizeme"
                            data-x="right" data-hoffset="0"
                            data-y="center" data-voffset="-20"
                            data-speed="1000"
                            data-start="2500"
                            data-easing="Power3.easeInOut"
                            data-splitin="chars"
                            data-splitout="none"
                            data-elementdelay="0.06"
                            data-endelementdelay="0.1"
                            data-endspeed="300"
                            style="z-index: 5; font-size: 30px; color:white; max-width: auto; max-height: auto; white-space: nowrap;"
                    >
                        {{ 'personal.martina.main-research-ideas-slide-4-1'|trans }}
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption sfb tp-resizeme"
                         data-x="right" data-hoffset="0"
                         data-y="center" data-voffset="40"
                         data-speed="1000"
                         data-start="4500"
                         data-easing="Power3.easeInOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.07"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 6; font-size: 28px; color:white; max-width: auto; max-height: auto; white-space: nowrap;">
                        {{ 'personal.martina.main-research-ideas-slide-4-2'|trans }}
                    </div>
                </li>

                <!-- SLIDE 5 -->
                <li
                        data-transition="3dcurtain-horizontal" data-slotamount="6" data-masterspeed="800"
                        data-saveperformance="off"
                >
                    <!-- MAIN IMAGE -->
                    {% image '@AppBundle/Resources/public/images/personal/wallpaper.jpg' %}
                        <img
                                src="{{ asset_url }}" alt="home_slider2" data-bgposition="center top" data-bgfit="cover"
                                data-bgrepeat="no-repeat"
                        >
                    {% endimage %}


                    <!-- LAYER NR. 1 -->
                    <div
                            class="tp-caption sfb tp-resizeme"
                            data-x="right" data-hoffset="0"
                            data-y="center" data-voffset="-20"
                            data-speed="1000"
                            data-start="2500"
                            data-easing="Power3.easeInOut"
                            data-splitin="chars"
                            data-splitout="none"
                            data-elementdelay="0.06"
                            data-endelementdelay="0.1"
                            data-endspeed="300"
                            style="z-index: 5; font-size: 30px; color:white; max-width: auto; max-height: auto; white-space: nowrap;"
                    >
                        {{ 'personal.martina.main-research-ideas-slide-5-1'|trans }}
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption sfb tp-resizeme"
                         data-x="right" data-hoffset="0"
                         data-y="center" data-voffset="40"
                         data-speed="1000"
                         data-start="4500"
                         data-easing="Power3.easeInOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.07"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 6; font-size: 28px; color:white; max-width: auto; max-height: auto; white-space: nowrap;">
                        {{ 'personal.martina.main-research-ideas-slide-5-2'|trans }}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>