<div class="margin-bottom-20">
    <p>
        {{ 'right_navbar.book.helper13.text1-1'|trans }}
        <span class="colour-font"><b>{{ 'right_navbar.book.helper13.text1-2'|trans }}</b></span>
        {{ 'right_navbar.book.helper13.text1-3'|trans }}.
    </p>

    <p class="margin-top-10">
        {{ 'right_navbar.book.helper13.text2-1'|trans }}
        <span class="colour-font"><b><u>{{ 'right_navbar.book.helper13.text2-2'|trans }}</u></b></span>
        {{ 'book.FVC'|trans }}?
    </p>
</div>


