<div class="margin-bottom-20">
    <p>
        {{ 'right_navbar.book.helper15.text2-1'|trans }}
        <span class="colour-font"><b> {{ 'right_navbar.book.helper15.text2-2'|trans }}</b></span>
        {{ 'right_navbar.book.helper15.text2-3'|trans }}?
    </p>
    <p class="margin-top-5">
        {{ 'right_navbar.book.helper16.text1'|trans }}?
    </p>
    <p class="margin-top-5">
        {{ 'right_navbar.book.helper16.text2'|trans }}.
    </p>
</div>