<div class="margin-bottom-20">
    <p>
        {{ 'right_navbar.book.helper14.text1-1'|trans }}
        <span class="colour-font"><b> {{ 'right_navbar.book.helper14.text1-2'|trans }}</b></span>,
        {{ 'right_navbar.book.helper14.text1-3'|trans }}.
    </p>

    <p class="margin-top-5">
        {{ 'right_navbar.book.helper14.text2-1'|trans }}
        <span class="colour-font"><b> {{ 'right_navbar.book.helper14.text2-2'|trans }}</b></span>?
    </p>

    <p class="margin-top-5">
        {{ 'right_navbar.book.helper14.text3-1'|trans }}
        <span class="text-color-primary cursor-hand"
              onclick="toggleText(toggleHelper(114))"><b>{{ 'right_navbar.book.helper14.text3-2'|trans }}</b></span>
        {{ 'right_navbar.book.helper14.text3-3'|trans }}?
    </p>

    <div class="hide-element margin-top-10 margin-bottom-10" id="helper114">
        {% image '@AppBundle/Resources/public/images/book/first-chapter/00-spirometry-curve.png' %}
            <img src="{{ asset_url }}" alt="Spirometry curve" class="img-responsive">
        {% endimage %}
    </div>
</div>


