<!-- Footer -->
<footer id="footer">
    <div class="footer-wrapper">

        <!-- Footer Top -->
        <div class="footer-top">
            <div class="footer-top-wrapper">
                <div class="container both-sides-text-alignment">
                    <div class="row">
                        <!-- About Block -->
                        <div class="col-md-6">
                            <div class="block block-about">
                                <h3 class="block-title no-underline">
                                    <span class="text-primary">{{ 'footer.headline'|trans }}</span>
                                </h3>
                                <div class="block-content">
                                    <p>{{ 'footer.headline.text1'|trans }}</p>
                                    <a href="{{ path('app_personal_martina_babinska') }}" target="_blank" class="orange-color">
                                        {{ 'footer.headline.text2'|trans }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End About Block -->

                        <!-- Contact Block -->
                        <div class="col-md-3">
                            <div class="block block-links">
                                <h3 class="block-title">
                                    <span>Contact</span>
                                </h3>
                                <div class="block-content">
                                    <address>
                                        {{ 'footer.email'|trans }}: <a href="mailto:someone@example.com">martina.babinska.sk@gmail.com</a> <br>
                                        {{ 'footer.phone'|trans }}: 00421 944 302 547 <br>
                                    </address>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer Contact Block -->

                        <!-- Address Block -->
                        <div class="col-md-3">
                            <div class="block block-twitter-widget">
                                <h3 class="block-title">
                                    <span>{{ 'footer.address'|trans }}</span>
                                </h3>
                                <div class="block-content">
                                    <address>
                                        Oravicka 125<br>
                                        027 12 <br>
                                        Liesek <br>
                                        {{ 'footer.slovakia'|trans }}<br>
                                    </address>
                                </div>
                            </div>
                        </div>
                        <!-- Address Block -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Top -->

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="footer-bottom-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 copyright">
                            <p>&copy; {{ "now"|date("Y") }} | Martina Babinská. All Rights Reserved.</p>
                        </div>
                        <div class="col-md-6 social-links">
                            <ul class="right">
                                <li><a href="#." target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://github.com/Corrigan14/" target="_blank"><i class="fa fa-github"></i></a></li>
                                <li><a href="#."><i class="fa fa-facebook" target="_blank"></i></a></li>
                                <li><a href="#."><i class="fa fa-twitter" target="_blank"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </div>
</footer>
<!-- End Footer -->