<!-- Header -->
<header class="header single-pages">
    <div class="sticky dark-header">
        <div class="container">
            <div class="logo">
                {% include 'AppBundle:Includes:logo.html.twig' %}
            </div>

            <!-- Vertical Navbar -->
            <nav>
                <ul id="ownmenu" class="ownmenu">
                    <li class="{% if app.request.attributes.get('_route') == 'app_homepage' %}scroll active{% else %}scroll{% endif %}">
                        <a id="navbar_homepage" href="{{ path('app_homepage') }}">
                            {{ 'main_navbar.about'|trans }}
                        </a>
                    </li>
                    <li class="{% if 'book' in app.request.attributes.get('_route') %}scroll active{% else %}scroll{% endif %}">
                        <a href="{{ path('app_book_main_introudction') }}">
                            {{ 'main_navbar.book'|trans }}
                        </a>
                    </li>
                    <li class="scroll">
                        <a href="#footer">{{ 'main_navbar.contact'|trans }}</a>
                    </li>
                    <li class="scroll">
                        <a id="navbar_en" href="#">
                            SK
                        </a>
                        <a id="navbar_sk" href="#">
                            EN
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- End Header -->
