<h4 class="h4-small-font-uppercase">
    {{ 'right_navbar.book.chat'|trans }}
</h4>

<div class="helper-section">
    <div class="row smaller-p-tags">
        <h5 class="h5-small-font-uppercase">
            {{ 'right_navbar.book.chat.work'|trans }}
        </h5>
        <p>
            {{ 'right_navbar.book.chat.email.text1'|trans }}!
            {{ 'right_navbar.book.chat.email.text2'|trans }}
            (<span class="colour-font"><b>{{ 'footer.email.contact'|trans }}</b></span>).
        </p>

    </div>
</div>