<!-- Nav Icon -->
<a id="cd-menu-trigger" class="dark" href="#."><span class="cd-menu-icon"></span></a>

<!-- Header Left -->
<nav id="cd-lateral-nav" class="left-header">

    <!-- Logo -->
    <div class="text-center">
        {% include 'AppBundle:Includes:logo.html.twig' %}
    </div>

    <!-- Menu -->
    <ul class="cd-navigation">
        <li><a href={{ path('app_book_main_introudction') }}>{{ 'left_navbar.book.introduction'|trans }}</a></li>
        <li><a href={{ path('app_book_main_result') }}>{{ 'left_navbar.book.spyrometry'|trans }}</a></li>
        <li class="item-has-children"><a href="#.">{{ 'left_navbar.book.chapter1'|trans }}</a>
            <ul class="sub-menu">
                <li><a href="{{ path('app_book_first_chapter_tasks') }}#chapter11">{{ 'left_navbar.book.chapter11'|trans }}</a></li>
                <li><a href="{{ path('app_book_first_chapter_tasks') }}#chapter12">{{ 'left_navbar.book.chapter12'|trans }}</a></li>
                <li><a href="{{ path('app_book_first_chapter_tasks') }}#chapter13">{{ 'left_navbar.book.chapter13'|trans }}</a></li>
                <li><a href="{{ path('app_book_first_chapter_result') }}#chapter1-doctors-view">{{ 'left_navbar.book.chapter14'|trans }}</a></li>
                <li><a href="{{ path('app_book_first_chapter_game') }}#chapter1-game">{{ 'left_navbar.book.chapter1game'|trans }}</a></li>
            </ul>
        </li>
        <li class="item-has-children"><a href="#.">{{ 'left_navbar.book.chapter2'|trans }}</a>
            {#<ul class="sub-menu">#}
                {#<li><a href="{{ path('app_book_second_chapter_tasks') }}#chapter21">{{ 'left_navbar.book.chapter21'|trans }}</a></li>#}
                {#<li><a href="{{ path('app_book_second_chapter_tasks') }}#chapter21">{{ 'left_navbar.book.chapter22'|trans }}</a></li>#}
                {#<li><a href="{{ path('app_book_second_chapter_tasks') }}#chapter21">{{ 'left_navbar.book.chapter23'|trans }}</a></li>#}
                {#<li><a href="#">{{ 'left_navbar.book.chapter24'|trans }}</a></li>#}
                {#<li><a href="#">{{ 'left_navbar.book.chapter2game'|trans }}</a></li>#}
            {#</ul>#}
        </li>
        <li class="item-has-children"><a href="#.">{{ 'left_navbar.book.chapter3'|trans }}</a>
            {#<ul class="sub-menu">#}
                {#<li><a href="#">{{ 'left_navbar.book.chapter31'|trans }}</a></li>#}
                {#<li><a href="#">{{ 'left_navbar.book.chapter32'|trans }}</a></li>#}
                {#<li><a href="#">{{ 'left_navbar.book.chapter33'|trans }}</a></li>#}
                {#<li><a href="#">{{ 'left_navbar.book.chapter34'|trans }}</a></li>#}
                {#<li><a href="#">{{ 'left_navbar.book.chapter35'|trans }}</a></li>#}
                {#<li><a href="#">{{ 'left_navbar.book.chapter3game'|trans }}</a></li>#}
            </ul>
        </li>
        <li class="item-has-children"><a href="#.">{{ 'left_navbar.book.game'|trans }}</a>
            <ul class="sub-menu">
                <li><a href="{{ path('app_book_main_game_instruction') }}">{{ 'left_navbar.book.game.instruction'|trans }}</a></li>
                <li><a href="{{ path('app_book_first_chapter_game') }}">{{ 'basic_words.part'|trans }} I</a></li>
                <li><a href="#">{{ 'basic_words.part'|trans }} II</a></li>
                <li><a href="#">{{ 'basic_words.part'|trans }} III</a></li>
                <li><a href="#">{{ 'left_navbar.book.game.decode'|trans }}</a></li>
             </ul>
        </li>
    </ul>
</nav>