<!--======= BOOK INTRODUCTION SLIDE =========-->
<section class="home-slider">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="pop" data-slotamount="7" data-masterspeed="1000" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    {% image '@AppBundle/Resources/public/images/book/sliders/spirometry-graphs.png' %}
                    <img src="{{ asset_url }}" alt="spirometry-result" data-bgposition="center top" style="background-color: lightgrey"
                         data-bgrepeat="no-repeat">
                    {% endimage %}
                    <!-- LAYERS -->

                    <!-- Layer -->
                    <div class="tp-caption lfb tp-scrollbelowslider"
                         data-x="right" data-hoffset="0"
                         data-y="bottom" data-voffset="-50"
                         data-speed="2000"
                         data-start="1500"
                         data-easing="Power3.easeInOut"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-scrolloffset="0"
                         style="z-index: 8;">
                        {% image '@AppBundle/Resources/public/images/book/sliders/Question-Mark-person.png' %}
                        <img src="{{ asset_url }}" alt="text-holder" style="max-width: 200px">
                        {% endimage %}
                    </div>

                    <!-- Layer -->
                    <div class="tp-caption sft font-extra-bold tp-resizeme"
                         data-x="-120" data-hoffset="0"
                         data-y="120"
                         data-speed="2000"
                         data-start="4000"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="color: #141414; font-size: 40px; font-style:bolder; letter-spacing:-2px;">
                        {% image '@AppBundle/Resources/public/images/book/sliders/bor-slides.png' %}
                        <img src="{{ asset_url }}" alt="text-holder">
                        {% endimage %}
                    </div>

                    <!-- Layer -->
                    <div class="tp-caption sft font-extra-bold tp-resizeme"
                         data-x="-90" data-hoffset="50"
                         data-y="145"
                         data-speed="2000"
                         data-start="4500"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="color: #eeb013; font-size: 40px; font-style:bolder; letter-spacing:-2px;">
                        {{ 'slider.book.spirometry-result-part1'|trans }}
                    </div>

                    <!-- Layer -->
                    <div class="tp-caption sfb font-crimson tp-resizeme text-center"
                         data-x="-90" data-hoffset="90"
                         data-y="210"
                         data-speed="2000"
                         data-start="5000"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-easing="Back.easeOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="color:  #eeb013; font-size: 17px; font-weight: bold; letter-spacing:0px;">
                        {{ 'slider.book.spirometry-result-part2'|trans }}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>