<div>
    <p>
        <span>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text15-1'|trans }}</span>
        <span
                onclick="toggleUniversal('LI-problem1-challenge1-algebraBasedSolution-helper1')"
                class="text-color-primary cursor-hand"
        ><b> {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text15-2'|trans }}</b></span>.
    </p>
    <div id="LI-problem1-challenge1-algebraBasedSolution-helper1" class="hide-element">
        <p>
            <span class="text-lowercase equation-p-small"><b>$$\log_{\frac{1}{4}}16 = -2 $$</b></span>
        </p>
    </div>
</div>

<div class="margin-top-10">
    <p>
        <a href="#" target="_blank" class="text-color-primary" >
            <b> {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text15-3'|trans }}</b>
        </a>
        <span>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text15-4'|trans }}</span>
        <span
                onclick="toggleUniversal('LI-problem1-challenge1-algebraBasedSolution-helper2')"
                class="text-color-primary cursor-hand"
        ><b> {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text15-5'|trans }}</b></span>
        <span>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text15-6'|trans }}</span>?
    </p>
    <div id="LI-problem1-challenge1-algebraBasedSolution-helper2" class="hide-element">
        <p>
            <span class="text-lowercase equation-p-small"><b>$$\log_{\frac{1}{4}}x < \log_{\frac{1}{4}}16 $$</b></span>
        </p>
    </div>
</div>