<div>
    <p>
        <span>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text19-1'|trans }}</span>
        <span
                onclick="toggleUniversal('LI-problem1-challenge3-graphBasedSolution-graph1')"
                class="text-color-primary cursor-hand">
            <b> {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text19-2'|trans }}</b>
        </span>
        <span>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text19-3'|trans }}</span>.
        <span>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text19-4'|trans }}</span>
        <span
                onclick="toggleUniversal('LI-problem1-challenge3-graphBasedSolution-graph2')"
                class="text-color-primary cursor-hand"
        ><b> {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-text19-5'|trans }}</b>
        </span>?
    </p>
</div>
<div id="LI-problem1-challenge3-graphBasedSolution-graph1" class="margin-top-15 margin-bottom-15 hide-element">
    {% image '@AppBundle/Resources/public/images/textBook/logarithms/inequalities/problem1Challenge3Graph1.png' %}
        <img
                src="{{ asset_url }}"
                alt="Problem 1 - Graph of a logarithmic function "
                class="img-responsive max-width-100-percent"
        >
    {% endimage %}
</div>
<div id="LI-problem1-challenge3-graphBasedSolution-graph2" class="margin-top-15 margin-bottom-15 hide-element">
    {% image '@AppBundle/Resources/public/images/textBook/logarithms/inequalities/problem1Challenge3Graph2.png' %}
        <img
                src="{{ asset_url }}"
                alt="Problem 1 - Graph of a logarithmic function "
                class="img-responsive max-width-100-percent"
        >
    {% endimage %}
</div>