<div id="task2" class="container">
    {# TASK #}
    <div class="row">
        <div class="col-md-5">
            <p>
                {{ 'book.game.part1.task3.text1-1'|trans }}
                <b>{{ 'book.game.part1.task3.text1-2'|trans }}</b>
                ({{ 'book.game.part1.task3.text1-3'|trans }})
                {{ 'book.game.part1.task3.text1-4'|trans }}.
            </p>
            <p class="padding-top-20">
                <span>
                    <b>
                        {{ 'book.game.part1.task3.text2'|trans }}
                    </b>
                </span>
            </p>
        </div>
        <div class="col-md-7">
            {% image '@AppBundle/Resources/public/images/book/game/part1/task3-1.png' %}
            <img src="{{ asset_url }}" alt="Spirometry curve" class="img-responsive">
            {% endimage %}
        </div>
    </div>

    {# ANSWERS TABLE #}
    <div id="answerTable1" class="row padding-top-50">
        <div class="col-md-12">
            <h6 class="problem">{{ 'book.answer.table'|trans }}</h6>
            <table class="table table-bordered margin-bottom-15 margin-top-15 vertical-middle">
                <thead>
                <tr class="active uppercase-transform">
                    <th>{{ 'book.answer'|trans }}</th>
                    <th class="min-width-200">{{ 'book.game.part1.task3.answer1'|trans }}</th>
                    <th class="min-width-200 text-center">12</th>
                    <th class="min-width-200 text-center">20</th>
                    <th class="min-width-200 text-center">40</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="active uppercase-transform"><b>{{ 'book.game.cipher'|trans }}</b></td>
                    <td class="text-center">...</td>
                    <td class="text-center">...</td>
                    <td class="text-center">...</td>
                    <td class="text-center">...</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>