<section id="task-1" class="padding-top-30">
    <div class="container both-sides-text-alignment">
        {# HEADING #}
        <div class="row">
            <div class="col-md-12">
                <div class="list-heading uppercase-transform">
                    <h6>
                        {{ 'book.game.task'|trans }} I: {{ 'book.game.part1.task1.header'|trans }}
                    </h6>
                </div>
            </div>
        </div>

        {# BODY #}
        <div class="row margin-top-20">
            <div class="col-md-12">
                <p> {{ 'book.game.part1.task1.text1'|trans }}:</p>
            </div>
        </div>

        {# FINN #}
        <div class="row padding-top-20">
            <div class="col-md-1">
                <p class="uppercase-transform">
                    <b>{{ 'book.game.part1.task1.text2-1'|trans }}:</b>
                </p>
            </div>
            <div class="col-md-11">
                <p>"{{ 'book.game.part1.task1.text2-2'|trans }}!"</p>
            </div>
        </div>
        {# MATIAS #}
        <div class="row">
            <div class="col-md-1">
                <p class="uppercase-transform">
                    <b>{{ 'book.game.part1.task1.text3-1'|trans }}:</b>
                </p>
            </div>
            <div class="col-md-11">
                <p>"{{ 'book.game.part1.task1.text3-2'|trans }}!"</p>
            </div>
        </div>
        {# SOPHI #}
        <div class="row">
            <div class="col-md-1">
                <p class="uppercase-transform">
                    <b>{{ 'book.game.part1.task1.text4-1'|trans }}:</b>
                </p>
            </div>
            <div class="col-md-11">
                <p>"{{ 'book.game.part1.task1.text4-2'|trans }}!"</p>
            </div>
        </div>
        {# HANA #}
        <div class="row">
            <div class="col-md-1">
                <p class="uppercase-transform">
                    <b>{{ 'book.game.part1.task1.text5-1'|trans }}:</b>
                </p>
            </div>
            <div class="col-md-11">
                <p>"{{ 'book.game.part1.task1.text5-2'|trans }}!"</p>
            </div>
        </div>

        {# INSTRUCTIONS #}
        <div class="row padding-top-30">
            <div class="col-md-12 smaller-p-tags-line-height">
                <p>
                    <b>
                        {{ 'book.game.part1.task1.text6-1'|trans }}:
                        [ {{ 'book.game.part1.task1.text6-2'|trans }}].
                    </b>
                </p>
                <p>
                    <b>
                        {{ 'book.game.part1.task1.text7-1'|trans }}
                        <span class="scroll">
                        <a
                                href="#answerTable1"
                                class="text-color-primary"
                        >{{ 'book.game.part1.task1.text7-2'|trans }}</a>
                </span>
                    </b>
                    .
                </p>
            </div>
        </div>

        {# GRAPHS - NORMAL SCREEN #}
        <div class="hidden-xs hidden-sm">
            <div class="row padding-top-20">
                <div class="col-md-6">
                    {% image '@AppBundle/Resources/public/images/book/game/part1/task1-1.png' %}
                        <img src="{{ asset_url }}" alt="Spirometry curve" class="img-responsive max-width-100-percent" >
                    {% endimage %}
                </div>
                <div class="col-md-6">
                    {% image '@AppBundle/Resources/public/images/book/game/part1/task1-2.png' %}
                        <img src="{{ asset_url }}" alt="Spirometry curve" class="img-responsive max-width-100-percent" >
                    {% endimage %}
                </div>
            </div>
            <div class="row padding-top-20">
                <div class="col-md-6">
                    {% image '@AppBundle/Resources/public/images/book/game/part1/task1-3.png' %}
                        <img src="{{ asset_url }}" alt="Spirometry curve" class="img-responsive max-width-100-percent" >
                    {% endimage %}
                </div>
                <div class="col-md-6">
                    {% image '@AppBundle/Resources/public/images/book/game/part1/task1-4.png' %}
                        <img src="{{ asset_url }}" alt="Spirometry curve" class="img-responsive max-width-100-percent" >
                    {% endimage %}
                </div>
            </div>
        </div>

        {# GRAPHS - MOBILE, TABLET #}
        <div class="hidden-lg hidden-md text-center">
            <div class="row padding-top-20">
                <div class="col-md-12">
                    {% image '@AppBundle/Resources/public/images/book/game/part1/task1-1.png' %}
                        <img src="{{ asset_url }}" alt="Spirometry curve" class="img-responsive max-width-100-percent" >
                    {% endimage %}
                </div>
            </div>
            <div class="row padding-top-20">
                <div class="col-md-12">
                    {% image '@AppBundle/Resources/public/images/book/game/part1/task1-2.png' %}
                        <img src="{{ asset_url }}" alt="Spirometry curve" class="img-responsive max-width-100-percent" >
                    {% endimage %}
                </div>
            </div>
            <div class="row padding-top-20">
                <div class="col-md-12">
                    {% image '@AppBundle/Resources/public/images/book/game/part1/task1-3.png' %}
                        <img src="{{ asset_url }}" alt="Spirometry curve" class="img-responsive max-width-100-percent" >
                    {% endimage %}
                </div>
            </div>
            <div class="row padding-top-20">
                <div class="col-md-12">
                    {% image '@AppBundle/Resources/public/images/book/game/part1/task1-4.png' %}
                        <img src="{{ asset_url }}" alt="Spirometry curve" class="img-responsive max-width-100-percent" >
                    {% endimage %}
                </div>
            </div>
        </div>

        {# ANSWERS TABLE #}
        <div id="answerTable1" class="row padding-top-50">
            <div class="col-md-12">
                <h6 class="problem">{{ 'book.answer.table'|trans }}</h6>
                <table class="table table-bordered margin-bottom-15 margin-top-15 vertical-middle table-responsive">
                    <thead>
                        <tr class="active uppercase-transform">
                            <th>{{ 'book.answer'|trans }}</th>
                            <th class="text-center">F1, M2, S3, H4</th>
                            <th class="text-center">F1, M4, S3, H2</th>
                            <th class="text-center">F4, M3, S2, H1</th>
                            <th class="text-center">F1, M2, S4, H3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="active uppercase-transform">
                                <b>{{ 'book.game.cipher'|trans }}</b>
                            </td>
                            <td class="text-center">INEWTON</td>
                            <td class="text-center">GFBRIEMAN</td>
                            <td class="text-center">LEULER</td>
                            <td class="text-center">GWLEIBNIZ</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="heading-block text-center animate fadeInUp margin-top-40" data-wow-delay="0.4s">
            {#FAMOUS MATHEMATICIANS#}
            <a href="{{ path('app_book_first_chapter_history_mathematicians') }}" class="btn btn-med gary">
                {{ 'book.history'|trans }}
            </a>
        </div>
    </div>
</section>