<div class="row">
    <div class="col-md-12">
        <h6 class="uppercase-transform">{{ 'book.diseases.header'|trans }}</h6>
        <p>{{ 'book.diseases.introduction'|trans }}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h6>I. {{ 'book.diseases.header-11'|trans }}</h6>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h6>II. {{ 'book.diseases.header-12'|trans }}</h6>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h6>III. {{ 'book.diseases.header-13'|trans }}</h6>
    </div>
</div>
