<section id="chapter13" class="blog padding-bottom-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="list-heading" style="text-transform: uppercase">
                    <h6>
                        <span>III. </span>
                        {{ 'left_navbar.book.chapter13'|trans }}
                    </h6>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 relative margin-top-20">
                <p>
                    {{ 'book.first-chapter.supchapter3.text1-1'|trans }}
                    {{ 'book.first-chapter.supchapter3.text1-2'|trans }}
                </p>
                <p>
                    {{ 'book.first-chapter.supchapter3.text1-3'|trans }}
                </p>
            </div>
        </div>

        <div class="row margin-top-20">
            <div class="col-md-4">
                <div>
                    <p>
                        <b class="red-font"> {{ 'book.first-chapter.supchapter3.text2-1'|trans }}</b> -
                        {{ 'book.first-chapter.supchapter3.text2-2-1'|trans }}
                        <span class="red-font"><b>{{ 'book.first-chapter.supchapter3.text2-2-2'|trans }}</b></span>
                        <b>{{ 'book.first-chapter.supchapter3.text2-2-3'|trans }}</b>).
                    </p>
                    <p>
                        {{ 'book.first-chapter.supchapter3.text2-3'|trans }}
                    </p>
                </div>
                <div class="margin-top-20">
                    <p>
                        <b class="blue-font"> {{ 'book.first-chapter.supchapter3.text3-1'|trans }}</b> -
                        {{ 'book.first-chapter.supchapter3.text3-2'|trans }}
                    </p>
                    <p>
                        {{ 'book.first-chapter.supchapter3.text3-3'|trans }}
                    </p>
                </div>
                <div class="margin-top-20">
                    <p>
                        <b class="green-font"> {{ 'book.first-chapter.supchapter3.text4-1'|trans }}</b> -
                        {{ 'book.first-chapter.supchapter3.text4-2'|trans }}
                    </p>
                    <p>
                        {{ 'book.first-chapter.supchapter3.text4-3'|trans }}
                    </p>
                </div>
                <div class="margin-top-20">
                    <p>
                        <b class="orange-font"> {{ 'book.first-chapter.supchapter3.text5-1'|trans }}</b> -
                        {{ 'book.first-chapter.supchapter3.text5-2'|trans }}
                    </p>
                    <p>
                        {{ 'book.first-chapter.supchapter3.text5-3'|trans }}
                    </p>
                </div>
            </div>
            <div class="col-md-8 text-right">
                {% image '@AppBundle/Resources/public/images/book/first-chapter/02-spirometry-curve.png' %}
                <img src="{{ asset_url }}" alt="Spirometry curve" class="img-responsive">
                {% endimage %}
            </div>
        </div>
    </div>
</section>