<section id="chapter11">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="list-heading uppercase-transform">
                    <h6>
                        <span>I. </span>
                        {{ 'left_navbar.book.chapter11'|trans }}
                    </h6>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 relative margin-top-40">
                <p>  {{ 'book.first-chapter.subchapter1.text1-1'|trans }}</p>
                <p>  {{ 'book.first-chapter.subchapter1.text1-2'|trans }}</p>
                <p>
                    {{ 'book.first-chapter.subchapter1.text1-3'|trans }}
                    <span onclick="toggleTable('FVC')" class="text-color-primary">
                                    {{ 'book.first-chapter.subchapter1.text1-4'|trans }}.
                                </span>
                </p>
                <div id="tableFVC" class="hide-element">
                    {% include 'AppBundle:Book:FirstChapter/Includes/tableFVC.html.twig' %}
                </div>
                <p>  {{ 'book.first-chapter.subchapter1.text1-5'|trans }}</p>
                <p class="margin-top-30"><b>{{ 'book.first-chapter.subchapter1.text1-6'|trans }}</b></p>
                <p> {{ 'book.first-chapter.subchapter1.text1-7'|trans }}</p>
            </div>

            {# HISTORY #}
            <div class="col-md-4">
                <div class="icon-box ib-style-5 ib-center ib-text-alt ib-bordered ib-bordered-white ib-bordered-thin ib-medium ib-circle">
                    <div class="ib-icon">
                        {% image '@AppBundle/Resources/public/images/book/first-chapter/history-1.jpg' %}
                        <img src="{{ asset_url }}" alt="History: medical sign" style="max-width: 80px">
                        {% endimage %}
                    </div>
                    <div class="ib-info">
                        <h4 class="h6">{{ 'book.historical-block-headline'|trans }}</h4>
                        <p>{{ 'book.first-chapter.historical-block-text-1-1'|trans }} </p>
                        <p>{{ 'book.first-chapter.historical-block-text-1-2'|trans }} </p>
                        <p>{{ 'book.first-chapter.historical-block-text-1-3'|trans }} </p>
                        <p>{{ 'book.first-chapter.historical-block-text-1-4'|trans }} </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-top-30">
            <div class="col-md-12">
                <p><b>{{ 'book.first-chapter.subchapter1.text2-1'|trans }}</b></p>
            </div>
            <div class="col-md-4">
                <p> {{ 'book.first-chapter.subchapter1.text2-2'|trans }}</p>
                <p> {{ 'book.first-chapter.subchapter1.text2-3'|trans }}</p>

                {#QUESTION 1.1#}
                <div class="row margin-top-30">
                    <div class="col-md-4">
                        <h6 class="problem">{{ 'book.problem'|trans }} 1.1:</h6>
                    </div>
                    <div class="col-md-8">
                        <h6 class="problem">{{ 'book.first-chapter.problem-1-1'|trans }} </h6>
                    </div>
                </div>

                {#QUESTION 1.2#}
                <div class="row margin-top-20">
                    <div class="col-md-4">
                        <h6 class="problem">{{ 'book.problem'|trans }} 1.2:</h6>
                    </div>
                    <div class="col-md-8">
                        <h6 class="problem">{{ 'book.first-chapter.problem-1-2-1'|trans }} </h6>
                        <h6>
                            ({{ 'book.first-chapter.problem-1-2-2'|trans }}
                            <span onclick="toggleTable('FVC-2')" class="text-color-primary">
                                        {{ 'book.first-chapter.problem-1-2-3'|trans }}
                             </span>)
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-8 text-right" id="main-patients-spirometry-curve">
                {% image '@AppBundle/Resources/public/images/book/first-chapter/00-spirometry-curve.png' %}
                <img src="{{ asset_url }}" alt="Spirometry curve" class="img-responsive">
                {% endimage %}
                <div class="text-center padding-top-20 download-link">
                    {% image '@AppBundle/Resources/public/downloads/spirometry-curve.png' %}
                    <a href="{{ asset_url }}" download="spirometry-curve.png">
                        <b>{{ 'basic_words.download_print'|trans }}</b>
                    </a>
                    {% endimage %}
                </div>
            </div>
        </div>
        <div class="row margin-top-30">
            <div class="col-md-12">
                <div id="tableFVC-2" class="hide-element">
                    {% include 'AppBundle:Book:FirstChapter/Includes/tableFVC.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</section>

<! -- Need Help? -->
<section class="blog padding-top-80 padding-bottom-80">
    <section class="promo dark">
        <div class="container">
            <h3 class="font-crimson text-white font-italic">
                {{ 'book.first-chapter.subchapter1.help-question1-1'|trans }}
                <span class="text-color-primary"> {{ 'book.first-chapter.subchapter1.help-question1-2'|trans }} </span>
                {{ 'book.first-chapter.subchapter1.help-question1-3'|trans }}
            </h3>
            <span class="scroll">
                <a href="#helpers-explanation"
                   class="btn btn-color btn-med">{{ 'book.first-chapter.subchapter1.help-question1-4'|trans }}</a>
            </span>
        </div>
    </section>

    <section class="padding-top-30" id="helpers-explanation">
        <div class="container">
            <!--======= PROCESS STYLE 1 =========-->
            <div class="process">
                <div class="process-style-1 margin-top-30">
                    <ul>
                        <!-- 1 -->
                        <li>
                            <div class="thumb">
                                {% image '@AppBundle/Resources/public/images/book/first-chapter/reading-2.gif' %}
                                <img src="{{ asset_url }}" alt="Reading">
                                {% endimage %}
                                <span style="background: rgba(0, 0, 0, 0.3)">01</span>
                            </div>
                            <div class="margin-left-20 margin-right-20">
                                <h6>{{ 'book.first-chapter.subchapter1.help-answer-1-1'|trans }}</h6>
                                <p>
                                    {{ 'book.first-chapter.subchapter1.help-answer-1-2'|trans }}
                                    <span class="scroll">
                                                <b>
                                                    <a href="#entry-chapter-text" class="text-color-primary">
                                                    {{ 'book.first-chapter.subchapter1.help-answer-1-3'|trans }}
                                                    </a>
                                                </b>
                                            </span>
                                    {{ 'book.first-chapter.subchapter1.help-answer-1-4'|trans }}
                                </p>
                            </div>
                        </li>
                        <!-- 2 -->
                        <li>
                            <div class="thumb">
                                {% image '@AppBundle/Resources/public/images/book/first-chapter/screen-helpers-arrow-small-2.png' %}
                                <img src="{{ asset_url }}" alt="Helpers">
                                {% endimage %}
                                <span style="background: rgba(0, 0, 0, 0.3)">02</span>
                            </div>
                            <div class="margin-left-20 margin-right-20">
                                <h6>{{ 'book.first-chapter.subchapter1.help-answer-2-1'|trans }}</h6>
                                <p>
                                    {{ 'book.first-chapter.subchapter1.help-answer-2-2'|trans }}
                                    <b class="text-color-primary">{{ 'book.first-chapter.subchapter1.help-answer-2-3'|trans }}</b>
                                    {{ 'book.first-chapter.subchapter1.help-answer-2-4'|trans }}
                                </p>
                            </div>
                        </li>
                        <!-- 3 -->
                        <li>
                            <div class="thumb">
                                {% image '@AppBundle/Resources/public/images/book/first-chapter/screen-answers-arrow-small-2.png' %}
                                <img src="{{ asset_url }}" alt="Answers">
                                {% endimage %}
                                <span style="background: rgba(0, 0, 0, 0.3)">03</span>
                            </div>
                            <div class="margin-left-20 margin-right-20">
                                <h6>{{ 'book.first-chapter.subchapter1.help-answer-3-1'|trans }}</h6>
                                <p>
                                    {{ 'book.first-chapter.subchapter1.help-answer-3-2'|trans }}
                                    <b class="text-color-primary">{{ 'book.first-chapter.subchapter1.help-answer-3-3'|trans }}</b>
                                    {{ 'book.first-chapter.subchapter1.help-answer-3-4'|trans }}
                                </p>
                            </div>
                        </li>
                        <!-- 4 -->
                        <li>
                            <div class="thumb">
                                {% image '@AppBundle/Resources/public/images/book/first-chapter/screen-forum-arrow-small-2.png' %}
                                <img src="{{ asset_url }}" alt="Forum">
                                {% endimage %}
                                <span style="background: rgba(0, 0, 0, 0.3)">04</span>
                            </div>
                            <div class="margin-left-20 margin-right-20">
                                <h6>{{ 'book.first-chapter.subchapter1.help-answer-4-1'|trans }}</h6>
                                <p>
                                    {{ 'book.first-chapter.subchapter1.help-answer-4-2'|trans }}
                                    <span class="scroll">
                                         <b>
                                             <a href="#chapter12" class="text-color-primary">
                                                 {{ 'book.first-chapter.subchapter1.help-answer-4-3'|trans }}
                                             </a>
                                         </b>
                                    </span>
                                    {{ 'book.first-chapter.subchapter1.help-answer-4-4'|trans }}
                                    <br>
                                    {{ 'book.first-chapter.subchapter1.help-answer-4-5'|trans }}
                                    <b class="text-color-primary">{{ 'book.first-chapter.subchapter1.help-answer-4-6'|trans }}</b>
                                    {{ 'book.first-chapter.subchapter1.help-answer-4-7'|trans }}
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</section>
