<section id="chapter13" class="blog padding-bottom-30">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="list-heading" style="text-transform: uppercase">
                    <h6>
                        <span>III. </span>
                        {{ 'left_navbar.book.chapter13'|trans }}
                    </h6>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 relative margin-top-20">
                <p>
                    {{ 'book.first-chapter.supchapter3.text1-1'|trans }}
                    {{ 'book.first-chapter.supchapter3.text1-2'|trans }}
                </p>
                <p>
                    {{ 'book.first-chapter.supchapter3.text1-3'|trans }}
                </p>
            </div>
        </div>

        <div class="row margin-top-20">
            <div class="col-md-4">
                <div>
                    <p>
                        <b class="red-font"> {{ 'book.first-chapter.supchapter3.text2-1'|trans }}</b> -
                        {{ 'book.first-chapter.supchapter3.text2-2-1'|trans }}
                        <span class="red-font"><b>{{ 'book.first-chapter.supchapter3.text2-2-2'|trans }}</b></span>
                        <b>{{ 'book.first-chapter.supchapter3.text2-2-3'|trans }}</b>).
                    </p>
                    <p>
                        {{ 'book.first-chapter.supchapter3.text2-3'|trans }}
                    </p>
                </div>
                <div class="margin-top-20">
                    <p>
                        <b class="blue-font"> {{ 'book.first-chapter.supchapter3.text3-1'|trans }}</b> -
                        {{ 'book.first-chapter.supchapter3.text3-2'|trans }}
                    </p>
                    <p>
                        {{ 'book.first-chapter.supchapter3.text3-3'|trans }}
                    </p>
                </div>
                <div class="margin-top-20">
                    <p>
                        <b class="green-font"> {{ 'book.first-chapter.supchapter3.text4-1'|trans }}</b> -
                        {{ 'book.first-chapter.supchapter3.text4-2'|trans }}
                    </p>
                    <p>
                        {{ 'book.first-chapter.supchapter3.text4-3'|trans }}
                    </p>
                </div>
                <div class="margin-top-20">
                    <p>
                        <b class="orange-font"> {{ 'book.first-chapter.supchapter3.text5-1'|trans }}</b> -
                        {{ 'book.first-chapter.supchapter3.text5-2'|trans }}
                    </p>
                    <p>
                        {{ 'book.first-chapter.supchapter3.text5-3'|trans }}
                    </p>
                </div>
            </div>
            <div class="col-md-8 text-right">
                {% image '@AppBundle/Resources/public/images/book/first-chapter/02-spirometry-curve.png' %}
                <img src="{{ asset_url }}" alt="Spirometry curve" class="img-responsive">
                {% endimage %}
            </div>
        </div>
    </div>
</section>


{#QUESTIONS#}
<section class="padding-bottom-60">
    <div class="container">

        {#QUESTION 1.4#}
        <div class="row">
            <div class="col-md-2">
                <h6 class="problem">{{ 'book.problem'|trans }} 1.4:</h6>
            </div>
            <div class="col-md-10">
                <h6 class="problem">
                    {{ 'book.first-chapter.problem-1-4-1'|trans }}
                    <span class="scroll">
                        <b>
                            <a href="#main-patients-spirometry-curve" class="text-color-primary">
                            {{ 'book.first-chapter.problem-1-4-2'|trans }}
                            </a>
                        </b>
                    </span>)
                    {{ 'book.first-chapter.problem-1-4-3'|trans }}
                </h6>
            </div>
        </div>

        {#QUESTION 1.5#}
        <div class="row">
            <div class="col-md-2">
                <h6 class="problem">{{ 'book.problem'|trans }} 1.5:</h6>
            </div>
            <div class="col-md-10">
                <h6 class="problem">
                    {{ 'book.first-chapter.problem-1-5-1'|trans }}
                    {{ 'book.first-chapter.problem-1-5-2'|trans }}
                </h6>
            </div>
        </div>

        {#QUESTION 1.6#}
        <div class="row">
            <div class="col-md-2">
                <h6 class="problem">{{ 'book.problem'|trans }} 1.6:</h6>
            </div>
            <div class="col-md-10">
                <h6 class="problem">
                    {{ 'book.first-chapter.problem-1-6-1'|trans }}
                    <span class="scroll">
                        <b>
                            <a href="#main-patients-spirometry-curve" class="text-color-primary">
                            {{ 'book.first-chapter.problem-1-4-2'|trans }}
                            </a>
                        </b>
                    </span>)
                    {{ 'book.first-chapter.problem-1-6-2'|trans }}
                </h6>

                <h6>
                    ({{ 'book.first-chapter.problem-1-6-3'|trans }}
                    <span ><i>{{ 'book.first-chapter.problem-1-6-4'|trans }}</i></span>)
                </h6>
            </div>
        </div>
    </div>
</section>