<section id="problem1-3" class="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="list-heading" style="text-transform: uppercase">
                    <h6>
                        <span>II. </span>
                        {{ 'left_navbar.book.chapter12'|trans }}
                    </h6>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 relative margin-top-20">
                <p>
                    {{ 'book.first-chapter.supchapter2.text1-1'|trans }}
                    <b> {{ 'book.first-chapter.supchapter2.text1-2'|trans }}</b>
                </p>
                <p> {{ 'book.first-chapter.supchapter2.text1-3'|trans }}</p>
                <p>
                    {{ 'book.first-chapter.supchapter2.text1-4'|trans }}
                    <span class="text-color-primary" onclick="toggleText(1)">
                         {{ 'book.first-chapter.supchapter2.text1-5'|trans }}
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div id="text1" class="container hide-element margin-top-20 margin-bottom-20">
        {% include 'AppBundle:Book:FirstChapter/Includes/pulmonary-diseases.html.twig' %}
    </div>
</section>

<section class="padding-bottom-60 padding-top-30">
    <div  class="container">
        <div class="row">
            <div class="col-md-2">
                <h6 class="problem">{{ 'book.problem'|trans }} 1.3:</h6>
            </div>
            <div class="col-md-10">
                <h6 class="problem">{{ 'book.first-chapter.problem-1-3-1'|trans }} </h6>
                <h6>
                    ( {{ 'book.first-chapter.problem-1-3-2'|trans }}
                    <span class="text-color-primary" onclick="toggleText(2)">
                        {{ 'book.first-chapter.problem-1-3-3'|trans }}
                    </span>)
                </h6>
            </div>
        </div>
    </div>

    <div id="text2" class="container hide-element margin-top-20 margin-bottom-20">
        {% include 'AppBundle:Book:FirstChapter/Includes/pulmonary-diseases.html.twig' %}
    </div>
</section>