{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    {% include 'AppBundle:Book:Includes/leftNavbar.html.twig' %}

    <main class="cd-main-content">
        {% include 'AppBundle:Book:Includes/slider.html.twig' %}

        <div id="content">
            {#MAIN HEADING#}
            <section id="entry-chapter-text" class="padding-top-80">
                <div class="container">
                    <div class="heading-block text-center margin-bottom-50" data-wow-delay="0.8s">
                        <h3>{{ 'book.game.header'|trans }}!</h3>
                        <hr class="color">
                    </div>
                </div>
            </section>

            {#INTRODUCTION#}
            {% include '@App/Book/Main/Includes/introduction.html.twig' %}


            {#NEXT CHAPTER#}
            <section class="blog padding-top-80 padding-bottom-80 border-top">
                <div class="container">
                    {#NEXT CHAPTER: GAME PART I#}
                    <div class="heading-block text-center animate fadeInUp" data-wow-delay="0.4s">
                        <a href="{{ path('app_book_first_chapter_game') }}" class="btn btn-med btn-color">
                            {{ 'book.game.header'|trans }} - {{ 'basic_words.part'|trans }} I
                        </a>
                    </div>

                    {#NEXT CHAPTER: CHAPTER 2#}
                    <div class="heading-block text-center animate fadeInUp" data-wow-delay="0.4s">
                        <a href="{{ path('app_book_main_result') }}" class="btn btn-med btn-color">
                            {{ 'book.next.chapter'|trans }}: {{ 'left_navbar.book.chapter2'|trans }}
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}

{% block rightNavigation %}
    {% include 'AppBundle:Book:Includes/rightNavbar.html.twig' %}
{% endblock %}
