{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    {% include 'AppBundle:Book:Includes/leftNavbar.html.twig' %}

    <main class="cd-main-content">
        {% include 'AppBundle:Book:Includes/slider.html.twig' %}

        <div id="content">
            <!-- OUR CORE FEATURES -->
            <section class="padding-top-80 padding-bottom-80">
                <div class="container">
                    <!-- MAIN HEADING -->
                    <div class="heading-block text-center animate fadeInUp" data-wow-delay="0.4s">
                        <h3>{{ 'book.introduction.citation'|trans }}</h3>
                        <hr class="color">
                        <span>{{ 'book.introduction.author.citation'|trans }}</span>
                    </div>

                    <!-- PART 1 -->
                    <div class="intro-5 margin-top-20">
                        <div class="row">
                            <div class="col-md-6 animate fadeInLeft" data-wow-delay="0.4s">
                                <div class="heading-block no-margin-bottom">
                                    <span class="margin-bottom-15 margin-top-20">
                                         {{ 'book.introduction.part1.slogan'|trans }}
                                    </span>
                                    <h2 class="margin-bottom-20 margin-top-1">
                                        {{ 'book.introduction.part1.headline'|trans }}
                                    </h2>
                                </div>
                                <p> {{ 'book.introduction.part1.text1-1'|trans }}</p>
                                <p> {{ 'book.introduction.part1.text1-2'|trans }}</p>
                                <p> {{ 'book.introduction.part1.text1-3'|trans }}</p>
                            </div>

                            <!-- Image -->
                            <div class="col-md-6 animate fadeInRight text-center" data-wow-delay="0.4s">
                                {% image '@AppBundle/Resources/public/images/book/introduction/doctor-2.png' %}
                                <img src="{{ asset_url }}" alt="introduction-picture1" class="img-responsive"
                                     style="max-height: 400px">
                                {% endimage %}
                            </div>
                        </div>
                    </div>

                    <!-- PART 2 -->
                    <div class="intro-5 margin-top-80">
                        <div class="row">

                            <!-- Image -->
                            <div class="col-md-6 animate fadeInLeft text-center vertical-center" data-wow-delay="0.4s">
                                {% image '@AppBundle/Resources/public/images/book/introduction/watter-spirometer.png' %}
                                <img src="{{ asset_url }}" alt="water-spirometer" class="img-responsive">
                                {% endimage %}
                            </div>
                            <div class="col-md-6 animate fadeInRight" data-wow-delay="0.4s">
                                <div class="heading-block no-margin-bottom margin-top-0">
                                    <span class="margin-bottom-15">
                                         {{ 'book.introduction.part2.slogan'|trans }}
                                    </span>
                                    <h2 class="margin-bottom-20 margin-top-1">
                                        {{ 'book.introduction.part2.headline'|trans }}
                                    </h2>
                                </div>
                                <p>{{ 'book.introduction.part2.text2-1'|trans }}</p>
                                <h5>{{ 'book.introduction.part2.text2-2'|trans }}</h5>
                                <p>{{ 'book.introduction.part2.text2-3'|trans }}</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>{{ 'book.introduction.part2.text2-4'|trans }}</h5>
                                        <p>{{ 'book.introduction.part2.text2-5'|trans }}</p>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        {% image '@AppBundle/Resources/public/images/book/introduction/spirometer-today.jpg' %}
                                        <img src="{{ asset_url }}" alt="spirometer-today" class="img-responsive">
                                        {% endimage %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Intro PART 3 -->
                    <div class="intro-5 margin-top-80">
                        <div class="row">
                            <div class="col-md-6 animate fadeInLeft" data-wow-delay="0.4s">
                                <div class="heading-block no-margin-bottom">
                                    <span class="margin-bottom-15 margin-top-20">
                                         {{ 'book.introduction.part3.slogan'|trans }}
                                    </span>
                                    <h2 class="margin-bottom-20 margin-top-1">
                                        {{ 'book.introduction.part3.headline'|trans }}
                                    </h2>
                                </div>
                                <p> {{ 'book.introduction.part3.text3-1'|trans }}</p>
                                <div class="margin-left-20">
                                    <p> {{ 'book.introduction.part3.text3-2'|trans }}</p>
                                    <p> {{ 'book.introduction.part3.text3-3'|trans }}</p>
                                    <p> {{ 'book.introduction.part3.text3-4'|trans }}</p>
                                    <p> {{ 'book.introduction.part3.text3-5'|trans }}</p>
                                </div>
                                <p>{{ 'book.introduction.part3.text3-6'|trans }}</p>
                            </div>

                            <!-- Image -->
                            <div class="col-md-6 animate fadeInRight text-center" data-wow-delay="0.4s">
                                {% image '@AppBundle/Resources/public/images/book/result/spirometry-result-aj.png' %}
                                <img src="{{ asset_url }}" alt="introduction-picture1"
                                     class="img-responsive" style="max-height: 450px">
                                {% endimage %}
                            </div>
                        </div>
                    </div>

                    <!-- Intro PART 4 -->
                    <div class="intro-5 margin-top-80">
                        <div class="row">

                            <!-- Image -->
                            <div class="col-md-6 animate fadeInLeft text-center" data-wow-delay="0.4s">
                                {% image  '@AppBundle/Resources/public/images/book/introduction/mathematician-3.jpg' %}
                                <img src="{{ asset_url }}" alt="introduction-picture1" class="img-responsive"
                                     style="max-width: 500px">
                                {% endimage %}
                            </div>
                            <div class="col-md-6 animate fadeInRight" data-wow-delay="0.4s">
                                <div class="heading-block no-margin-bottom margin-top-0">
                                    <span class="margin-bottom-15">
                                         {{ 'book.introduction.part4.slogan'|trans }}
                                    </span>
                                    <h2 class="margin-bottom-20 margin-top-1">
                                        {{ 'book.introduction.part4.headline'|trans }}
                                    </h2>
                                </div>
                                <div class="margin-left-20">
                                    <p>{{ 'book.introduction.part4.text4-1'|trans }}</p>
                                    <p>{{ 'book.introduction.part4.text4-2'|trans }}</p>
                                    <p>{{ 'book.introduction.part4.text4-3'|trans }}</p>
                                    <p>{{ 'book.introduction.part4.text4-4'|trans }}</p>
                                    <p>{{ 'book.introduction.part4.text4-5'|trans }}</p>
                                    <p>{{ 'book.introduction.part4.text4-6'|trans }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Intro PART 5 -->
                    <div class="intro-5 margin-top-80">
                        <div class="row">
                            <div class="col-md-6 animate fadeInLeft" data-wow-delay="0.4s">
                                <div class="heading-block no-margin-bottom">
                                    <span class="margin-bottom-15 margin-top-20">
                                         {{ 'book.introduction.part5.slogan'|trans }}
                                    </span>
                                    <h2 class="margin-bottom-20 margin-top-1">
                                        {{ 'book.introduction.part5.headline'|trans }}
                                    </h2>
                                </div>
                                <p> {{ 'book.introduction.part5.text5-1'|trans }}</p>
                            </div>

                            <!-- Image -->
                            <div class="col-md-6 animate fadeInRight text-center" data-wow-delay="0.4s">
                                {% image '@AppBundle/Resources/public/images/book/introduction/thinking.png' %}
                                <img src="{{ asset_url }}" alt="introduction-picture1"
                                     class="img-responsive max-height-500">
                                {% endimage %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Next page -->
            <section class="blog padding-top-80 padding-bottom-80 border-top">
                <div class="container">
                    <div class="heading-block text-center animate fadeInUp" data-wow-delay="0.4s">
                        <a href="{{ path('app_book_main_result') }}" class="btn btn-med btn-color">
                            {{ 'book.introduction.nextPage'|trans }}
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}

{% block rightNavigation %}
    {% include 'AppBundle:Book:Includes/rightNavbar.html.twig' %}
{% endblock %}
