{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    {% include 'AppBundle:Book:Includes/leftNavbar.html.twig' %}

    <main class="cd-main-content">
        {% include 'AppBundle:Book:Includes/slider-spirometry.html.twig' %}

        <div id="content">
            <section class="padding-top-80 padding-bottom-80">
                <div class="container">
                    <!-- MAIN HEADING -->
                    <div class="heading-block text-center margin-bottom-50 animate fadeInUp" data-wow-delay="0.8s">
                        <h3>{{ 'book.result.headline'|trans }}</h3>
                        <hr class="color">
                    </div>

                    <div class="row animate fadeInUp" data-wow-delay="1.5s">
                        <div class="col-md-12 text-center">
                            {% image '@AppBundle/Resources/public/images/book/result/spirometry-result-aj.png' %}
                            <img src="{{ asset_url }}" alt="spirometry-result" class="img-responsive"
                                 style="max-width: 594px">
                            {% endimage %}
                        </div>
                    </div>
                </div>
            </section>

            <section class="services-coporate padding-top-80 padding-bottom-80 ">
                <div class="container">
                    <!-- HEADING BLOCK -->
                    <div class="heading-block style-6 text-center margin-bottom-80 animate fadeInUp" data-wow-delay="0.4s">
                        <h4>{{ 'book.result.part1.text1-1'|trans }}</h4>
                        <hr class="color">
                        <p class="font-crimson margin-top-20">{{ 'book.result.part1.text1-2'|trans }}</p>
                    </div>

                    <!-- Icon Row -->
                    <ul class="row">

                        <!-- Services -->
                        <li class="col-md-4 animate fadeInUp" data-wow-delay="0.4s"> <img class="img-responsive" src="images/services/img-1.jpg" alt="" > <i class="fa fa-laptop margin-top-20"></i>
                            <h6>WEB DESIGN</h6>
                            <hr class="black">
                            <p>Paetos dignissim at cursus elefeind norma arcu.velim pellentesque uter justo.</p>
                        </li>

                        <!-- Services -->
                        <li class="col-md-4 animate fadeInUp" data-wow-delay="0.6s"> <img class="img-responsive" src="images/services/img-2.jpg" alt="" > <i class="fa fa-tree margin-top-20"></i>
                            <h6>MOTION GRAPHIC</h6>
                            <hr class="black">
                            <p>Paetos dignissim at cursus elefeind norma arcu.velim pellentesque uter justo.</p>
                        </li>

                        <!-- Services -->
                        <li class="col-md-4 animate fadeInUp" data-wow-delay="0.8s"> <img class="img-responsive" src="images/services/img-3.jpg" alt="" > <i class="fa fa-motorcycle margin-top-20"></i>
                            <h6>BRANDING DESIGN</h6>
                            <hr class="black">
                            <p>Paetos dignissim at cursus elefeind norma arcu.velim pellentesque uter justo.</p>
                        </li>
                    </ul>

                    <!-- HEADING BLOCK -->
                    <div class="heading-block style-6 text-center margin-bottom-80 margin-top-80 animate fadeInUp" data-wow-delay="0.4s">
                        <h4>{{ 'book.result.part2.text2-1'|trans }}</h4>
                        <hr class="color">
                        <p class="font-crimson margin-top-20">{{ 'book.result.part2.text2-2'|trans }}</p>
                    </div>

                    <!-- HEADING BLOCK -->
                    <div class="heading-block style-6 text-center margin-bottom-80 margin-top-80 animate fadeInUp" data-wow-delay="0.4s">
                        <h4>{{ 'book.result.part3.text3-1'|trans }}</h4>
                        <hr class="color">
                        <p class="font-crimson margin-top-20">{{ 'book.result.part3.text3.2'|trans }}</p>
                    </div>
                </div>
            </section>

            <!-- Next page -->
            <section class="blog padding-top-80 padding-bottom-80 border-top">
                <div class="container">
                    <div class="heading-block text-center animate fadeInUp" data-wow-delay="0.4s">
                        <a href="#." class="btn btn-med btn-color">
                            {{ 'main_navbar.continue'|trans }}
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}

{% block rightNavigation %}
    {% include 'AppBundle:Book:Includes/rightNavbar.html.twig' %}
{% endblock %}
