{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    {% include 'AppBundle:Book:Includes/leftNavbar.html.twig' %}

    <main class="cd-main-content">
        {% include 'AppBundle:Book:Includes/slider.html.twig' %}

        <div id="content">
            {#SPIROMETRY RESULT#}
            <section class="padding-top-80 padding-bottom-80">
                <div class="container both-sides-text-alignment">
                    <div class="heading-block text-center margin-bottom-50" data-wow-delay="0.8s">
                        <h3>{{ 'book.result.headline'|trans }}</h3>
                        <hr class="color">
                    </div>

                    <div class="row" data-wow-delay="0.8s">
                        <div class="col-md-12 text-center">
                            {% image '@AppBundle/Resources/public/images/book/result/spirometry-result-aj.png' %}
                            <img src="{{ asset_url }}" alt="spirometry-result" class="img-responsive"
                                 style="max-width: 100%">
                            {% endimage %}
                        </div>
                    </div>
                </div>
            </section>

            <section class="services-coporate padding-bottom-80 ">
                <div class="container both-sides-text-alignment">
                    <!-- HEADING BLOCK -->
                    <div class="heading-block text-center">
                        <h3>{{ 'book.result.part1.text1-1'|trans }}</h3>
                        <div class="divider divider-short divider-center">
                            {% image '@AppBundle/Resources/public/images/general/dividers/devider-6-1.png' %}
                            <img src="{{ asset_url }}" alt="Divider-Icon-Image" class="i-div">
                            {% endimage %}
                        </div>
                        <p>{{ 'book.result.part1.text1-2'|trans }}</p>
                    </div>

                    <!-- Icon Row 1 -->
                    <ul class="row">
                        <!-- Picture of result 1 -->
                        <li class="col-md-4 text-center" data-wow-delay="0.4s">
                            {% image '@AppBundle/Resources/public/images/book/result/spirometry-result-SC.png' %}
                            <img src="{{ asset_url }}" alt="result-spirometry-curve"
                                 class="img-responsive margin-bottom-20" style="max-height: 480px">
                            {% endimage %}
                            <h6>{{ 'book.result.part1.text1-3-1'|trans }}</h6>
                            <hr class="black">
                            <p>{{ 'book.result.part1.text1-3-2'|trans }}</p>
                        </li>

                        <!-- Picture of result 2 -->
                        <li class="col-md-4 text-center" data-wow-delay="0.4s">
                            {% image '@AppBundle/Resources/public/images/book/result/spirometry-result-VTC.png' %}
                            <img src="{{ asset_url }}" alt="result-spirometry-curve"
                                 class="img-responsive margin-bottom-20" style="max-height: 480px">
                            {% endimage %}
                            <h6>{{ 'book.result.part1.text1-4-1'|trans }}</h6>
                            <hr class="black">
                            <p>{{ 'book.result.part1.text1-4-2'|trans }}</p>
                        </li>

                        <!-- Picture of result 3 -->
                        <li class="col-md-4 text-center" data-wow-delay="0.4s">
                            {% image '@AppBundle/Resources/public/images/book/result/spirometry-result-FVC.png' %}
                            <img src="{{ asset_url }}" alt="result-spirometry-curve"
                                 class="img-responsive margin-bottom-20" style="max-height: 480px">
                            {% endimage %}
                            <h6>{{ 'book.result.part1.text1-5-1'|trans }}</h6>
                            <hr class="black">
                            <p>{{ 'book.result.part1.text1-5-2'|trans }}</p>
                        </li>
                    </ul>

                    <!-- Icon Row 2 -->
                    <ul class="row margin-top-30">
                        <!-- Picture of result 4 -->
                        <li class="col-md-4 text-center" data-wow-delay="0.4s">
                            {% image '@AppBundle/Resources/public/images/book/result/spirometry-result-DT.png' %}
                            <img src="{{ asset_url }}" alt="result-spirometry-curve"
                                 class="img-responsive margin-bottom-20" style="max-height: 480px">
                            {% endimage %}
                            <h6>{{ 'book.result.part1.text1-6-1'|trans }}</h6>
                            <hr class="black">
                            <p>{{ 'book.result.part1.text1-6-2'|trans }}</p>
                        </li>

                        <!-- Picture of result 5 -->
                        <li class="col-md-4 text-center" data-wow-delay="0.4s">
                            {% image '@AppBundle/Resources/public/images/book/result/spirometry-result-PV.png' %}
                            <img src="{{ asset_url }}" alt="result-spirometry-curve"
                                 class="img-responsive margin-bottom-20" style="max-height: 480px">
                            {% endimage %}
                            <h6>{{ 'book.result.part1.text1-7-1'|trans }}</h6>
                            <hr class="black">
                            <p>{{ 'book.result.part1.text1-7-2'|trans }}</p>
                        </li>

                        <!-- Picture of result 6 -->
                        <li class="col-md-4 text-center" data-wow-delay="0.4s">
                            {% image '@AppBundle/Resources/public/images/book/result/spirometry-result-MV.png' %}
                            <img src="{{ asset_url }}" alt="result-spirometry-curve"
                                 class="img-responsive margin-bottom-20" style="max-height: 480px">
                            {% endimage %}
                            <h6>{{ 'book.result.part1.text1-8-1'|trans }}</h6>
                            <hr class="black">
                            <p>{{ 'book.result.part1.text1-8-2'|trans }}</p>
                        </li>
                    </ul>

                    <!-- HEADING BLOCK -->
                    <div class="heading-block text-center padding-top-80">
                        <h3>{{ 'book.result.part2.text2-1'|trans }}</h3>
                        <div class="divider divider-short divider-center">
                            {% image '@AppBundle/Resources/public/images/general/dividers/devider-6-1.png' %}
                            <img src="{{ asset_url }}" alt="Divider-Icon-Image" class="i-div">
                            {% endimage %}
                        </div>
                        <p>{{ 'book.result.part2.text2-2'|trans }}
                        <br>{{ 'book.result.part2.text2-3'|trans }}
                        {{ 'book.result.part2.text2-4'|trans }}</p>
                    </div>

                    <!-- HEADING BLOCK -->
                    <div class="heading-block text-center padding-top-40">
                        <h3>{{ 'book.result.part3.text3-1'|trans }}</h3>
                        <div class="divider divider-short divider-center">
                            {% image '@AppBundle/Resources/public/images/general/dividers/devider-6-1.png' %}
                            <img src="{{ asset_url }}" alt="Divider-Icon-Image" class="i-div">
                            {% endimage %}
                        </div>
                        <p>{{ 'book.result.part3.text3-2'|trans }}</p>
                    </div>

                    <!-- PART 1 -->
                    <div class="intro-5 margin-top-20">
                        <div class="row">
                            <div class="col-md-6 padding-right-30" data-wow-delay="0.4s">
                                <div class="heading-block no-margin-bottom">
                                    <span class="margin-bottom-15 margin-top-20">
                                        {{ 'book.result.part4.text4-1'|trans }}
                                    </span>
                                    <h2 class="margin-bottom-20 margin-top-1">
                                        {{ 'book.result.part4.text4-2'|trans }}
                                    </h2>
                                </div>
                                <p> {{ 'book.result.part4.text4-3-1'|trans }}</p>
                                <p> {{ 'book.result.part4.text4-3-2'|trans }}</p>
                                <p> {{ 'book.result.part4.text4-3-3'|trans }}</p>
                            </div>

                            <!-- Image -->
                            <div class="col-md-6 text-center" data-wow-delay="0.4s">
                                {% image '@AppBundle/Resources/public/images/book/result/screen-helpers-arrow-2.png' %}
                                <img src="{{ asset_url }}" alt="result-helpers" class="img-responsive">
                                {% endimage %}
                            </div>
                        </div>
                    </div>

                    <!-- PART 2 -->
                    <div class="intro-5 margin-top-80">
                        <div class="row">

                            <!-- Image -->
                            <div class="col-md-6 text-center vertical-center" data-wow-delay="0.4s">
                                {% image '@AppBundle/Resources/public/images/book/result/screen-answers-arrow-2.png' %}
                                <img src="{{ asset_url }}" alt="result-answers" class="img-responsive">
                                {% endimage %}
                            </div>
                            <div class="col-md-6 padding-left-30" data-wow-delay="0.4s">
                                <div class="heading-block no-margin-bottom margin-top-0">
                                    <span class="margin-bottom-15">
                                        {{ 'book.result.part5.text5-1'|trans }}
                                    </span>
                                    <h2 class="margin-bottom-20 margin-top-1">
                                        {{ 'book.result.part5.text5-2'|trans }}
                                    </h2>
                                </div>
                                <p>{{ 'book.result.part5.text5-3-1'|trans }}</p>
                                <p>{{ 'book.result.part5.text5-3-2'|trans }}</p>
                                <p>{{ 'book.result.part5.text5-3-3'|trans }}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Intro PART 3 -->
                    <div class="intro-5 margin-top-80">
                        <div class="row">
                            <div class="col-md-6 padding-right-30" data-wow-delay="0.4s">
                                <div class="heading-block no-margin-bottom">
                                    <span class="margin-bottom-15 margin-top-20">
                                         {{ 'book.result.part6.text6-1'|trans }}
                                    </span>
                                    <h2 class="margin-bottom-20 margin-top-1">
                                        {{ 'book.result.part6.text6-2'|trans }}
                                    </h2>
                                </div>
                                <p>  {{ 'book.result.part6.text6-3-1'|trans }}</p>
                                <p>  {{ 'book.result.part6.text6-3-2'|trans }}</p>
                                <p>  {{ 'book.result.part6.text6-3-3'|trans }}</p>
                            </div>

                            <!-- Image -->
                            <div class="col-md-6 text-center" data-wow-delay="0.4s">
                                {% image '@AppBundle/Resources/public/images/book/result/screen-forum-arrow-2.png' %}
                                <img src="{{ asset_url }}" alt="result-forum" class="img-responsive">
                                {% endimage %}
                            </div>
                        </div>
                    </div>

                    <!-- PART 4 -->
                    <div class="intro-5 margin-top-80">
                        <div class="row">

                            <!-- Image -->
                            <div class="col-md-6 text-center vertical-center" data-wow-delay="0.4s">
                                {% image '@AppBundle/Resources/public/images/book/result/screen-left-menu-arrow.png' %}
                                <img src="{{ asset_url }}" alt="result-left-menu" class="img-responsive">
                                {% endimage %}
                            </div>
                            <div class="col-md-6 padding-left-30" data-wow-delay="0.4s">
                                <div class="heading-block no-margin-bottom margin-top-0">
                                    <span class="margin-bottom-15">
                                          {{ 'book.result.part7.text7-1'|trans }}
                                    </span>
                                    <h2 class="margin-bottom-20 margin-top-1">
                                        {{ 'book.result.part7.text7-2'|trans }}
                                    </h2>
                                </div>
                                <p>{{ 'book.result.part7.text7-3-1'|trans }}</p>
                                <p>{{ 'book.result.part7.text7-3-2'|trans }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Next page -->
            <section class="blog padding-top-80 padding-bottom-80 border-top">
                <div class="container">
                    <div class="heading-block text-center animate fadeInUp" data-wow-delay="0.4s">
                        <a href="{{ path('app_book_first_chapter_tasks') }}" class="btn btn-med btn-color">
                            {{ 'book.result.nextPage'|trans }}
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}

{% block rightNavigation %}
    {% include 'AppBundle:Book:Includes/rightNavbar.html.twig' %}
{% endblock %}
