{#<div class="col-md-12 margin-top-40 text-center">#}
    {#<p>When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are#}
        {#$$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$#}
    {#</p>#}
{#</div>#}

<div class="row margin-top-10 margin-bottom-40">
    <div class="text-center col-md-12">
        <p
                class="btn btn-x-large gray-border btn-inactive-gray radius"
        >
            {{ 'textBook.logarithms.logarithmicInequalities'|trans }}
        </p>
    </div>
</div>

<div class="row  margin-bottom-20">
    <div class="text-center col-md-3 margin-bottom-10">
        <p class="btn btn-x-large gray-border radius btn-inactive-gray btn-small-padding btn-width-100-percent">
            {{ 'basic_words.group1'|trans }}
            <br />
            <span class="text-lowercase">$$\log_{a}x < b$$</span>
        </p>
        <div class="row margin-top-15">
            <div class="col-md-6 padding-right-2 padding-left-2 padding-bottom-5">
                <a
                        href="#"
                        class="btn btn-small gray-border btn-orange-border radius btn-width-100-percent btn-small-padding-10 padding-top-0 padding-bottom-0"
                >
                    <span class="text-lowercase">$$\log_{1/4}x < 1 $$</span>
                </a>
            </div>
            <div class="col-md-6 padding-right-2 padding-left-2 padding-bottom-5">
                <a
                        class="btn btn-small gray-border btn-orange-border btn-inactive-orange radius btn-width-100-percent btn-small-padding-10 padding-top-0 padding-bottom-0"
                >
                    <span class="text-lowercase">$$\log_{5}0.5 \leqq \log_{5}x \\[1.5pt]$$</span>
                </a>
            </div>
        </div>
    </div>
    <div class="text-center col-md-3 margin-bottom-10">
        <p class="btn btn-x-large gray-border radius btn-inactive-gray btn-small-padding btn-width-100-percent">
            {{ 'basic_words.group2'|trans }}
            <br />
            <span class="text-lowercase">$$\log_{a}f(x) < \log_{a}g(x)$$</span>
        </p>
    </div>
    <div class="text-center col-md-3 margin-bottom-10">
        <p class="btn btn-x-large gray-border radius btn-inactive-gray btn-small-padding btn-width-100-percent">
            {{ 'basic_words.group3'|trans }}
            <br />
            <span class="text-lowercase">$$\log_{a}f(x) < \log_{b}g(x) + h(x)$$</span>
        </p>
    </div>
    <div class="text-center col-md-3 margin-bottom-10">
        <p class="btn btn-x-large gray-border radius btn-inactive-gray btn-small-padding btn-width-100-percent">
            {{ 'basic_words.group4'|trans }}
            <br />
            <span class="text-lowercase text-normal line-height-3-7">{{ 'textBook.basic_words.logarithm'|trans }} {{ 'basic_words.inContext'|trans }}</span>
        </p>
    </div>
</div>