<p>
    <b>1.</b> {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text1-1'|trans }}
    <span  class="orange-color cursor-hand" onclick="toggleUniversal('problem1-solution1-step2-help-1')">
                                        <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text1-2'|trans }}</b>
                                    </span>
    {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text1-3'|trans }}.
</p>
<p id="problem1-solution1-step2-help-1" class="text-center hide-element padding-left-15">
    {% image '@AppBundle/Resources/public/images/textBook/logarithms/inequalities/problem1-solution1-img3.png' %}
        <img
                src="{{ asset_url }}" alt="Problem 1 - Graph of a logarithmic function"
                class="img-responsive max-width-100-percent"
        >
    {% endimage %}
</p>
<p class="line-height-20 padding-left-15">
    <i>
        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text1-4'|trans }}
        ({{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text1-5'|trans }}
        <a href="https://www.geogebra.org/classic?lang=en" target="_blank">
            <b>{{ 'textBook.basic_words.geogebra'|trans }}</b>
        </a>
        ).

        {#More help#}
        {{ 'textBook.basic_words.need-more-help'|trans }},
        <a href="https://www.purplemath.com/modules/graphlog.htm" target="_blank" >
            <b>{{ 'textBook.basic_words.this-link-may-help-you'|trans }}</b>
        </a>
        {{ 'textBook.basic_words.try-to-google'|trans }}
        "{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text1-6'|trans }}".
    </i>
</p>

<p>
    <b>2.</b>
    {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text2-1'|trans }}
    <span  class="orange-color cursor-hand" onclick="toggleUniversal('problem1-solution1-step2-help-2')">
                                        <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text2-2'|trans }}</b>
                                    </span>
    {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text2-3'|trans }}.
</p>
<div id="problem1-solution1-step2-help-2" class="hide-element padding-bottom-10 padding-left-15">
    <p  class="text-left">
        <span >    {{ 'textBook.basic_words.example'|trans }} 1:</span>
        {% image '@AppBundle/Resources/public/images/textBook/logarithms/inequalities/problem1-solution1-img4.png' %}
            <img
                    src="{{ asset_url }}" alt="Problem 1 - Graph of a logarithmic function"
                    class="img-responsive max-width-100-percent"
            >
        {% endimage %}
    </p>
    <p class="text-left" >
        <span >    {{ 'textBook.basic_words.example'|trans }} 2:</span>
        {% image '@AppBundle/Resources/public/images/textBook/logarithms/inequalities/problem1-solution1-img5.png' %}
            <img
                    src="{{ asset_url }}" alt="Problem 1 - Graph of a logarithmic function"
                    class="img-responsive max-width-100-percent"
            >
        {% endimage %}
    </p>
</div>

<p class="line-height-20">
    <b>3.</b> {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text3-1'|trans }}.
</p>
<p class="line-height-20 padding-left-15">
    <i>
        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text3-2'|trans }}
        <span  class="cursor-hand orange-hover colour-font-dark-grey" onclick="toggleUniversal('problem1-solution1-step2-help-3')">
                                        <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text3-3'|trans }}</b>
                                    </span>
        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text3-4'|trans }}?
    </i>
</p>
<div id="problem1-solution1-step2-help-3" class="hide-element padding-left-15">
    <p>
        {% image '@AppBundle/Resources/public/images/textBook/logarithms/inequalities/problem1-solution1-img11.png' %}
            <img
                    src="{{ asset_url }}" alt="Relation between points and its functional values of a logarithmic function"
                    class="img-responsive max-width-100-percent"
            >
        {% endimage %}
    </p>
</div>

<p class="line-height-20">
    <b>4.</b>
    "{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text4-1'|trans }}"
    {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text4-2'|trans }}
    <span  class="orange-color cursor-hand" onclick="toggleUniversal('problem1-solution1-step2-help-4')">
                                        <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text4-3'|trans }}</b>
                                    </span>
    ({{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text4-4'|trans }}).
</p>
<div id="problem1-solution1-step2-help-4" class="hide-element padding-left-15">
    <p>
        {% image '@AppBundle/Resources/public/images/textBook/logarithms/inequalities/problem1-solution1-img12.png' %}
            <img
                    src="{{ asset_url }}" alt="Relation between points and its functional values of a logarithmic function"
                    class="img-responsive max-width-100-percent"
            >
        {% endimage %}
    </p>
    <p class="line-height-20 padding-left-10 padding-bottom-10 red-font">
        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text4-5'|trans }}
        <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text4-6'|trans }}</b>,
        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text4-7'|trans }}.
        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text4-8'|trans }}
        <b>"{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text4-9'|trans }}"</b>.
        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text4-10'|trans }}
        <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text4-11'|trans }}</b>.
    </p>
</div>


<p class="line-height-20">
    <b>5. </b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text5-1'|trans }}
    <span  class="orange-color cursor-hand" onclick="toggleMoreInformation('problem1-solution1-step2-help-5')">
        <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text5-2'|trans }}</b>
    </span>?
</p>
<p id="readMoreproblem1-solution1-step2-help-5" class="line-height-20 padding-left-15">
    <i>
        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text5-3'|trans }}.
        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text5-4'|trans }}.
        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text5-5'|trans }}
        <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text5-6'|trans }}</b>.
        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text5-7'|trans }}?
        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text5-8'|trans }}?
    </i>
</p>
<div id="textproblem1-solution1-step2-help-5" class="hide-element padding-left-15">
    <p class="red-font">
        <b>
            {{ 'textBook.basic_words.no-upper'|trans }}! {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text5-9'|trans }}.
        </b>
    </p>

    <p>
        {{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text5-10'|trans }}:
    </p>
    <p>
        {% image '@AppBundle/Resources/public/images/textBook/logarithms/inequalities/problem1-solution1-img16.png' %}
            <img
                    src="{{ asset_url }}" alt="Logarithm with the base 4"
                    class="img-responsive max-width-100-percent"
            >
        {% endimage %}
    </p>
    <p>
        {% image '@AppBundle/Resources/public/images/textBook/logarithms/inequalities/problem1-solution1-img17.png' %}
            <img
                    src="{{ asset_url }}" alt="Logarithm with the base 4"
                    class="img-responsive max-width-100-percent"
            >
        {% endimage %}
    </p>
    <p>
        {% image '@AppBundle/Resources/public/images/textBook/logarithms/inequalities/problem1-solution1-img18.png' %}
            <img
                    src="{{ asset_url }}" alt="Relation between points and its functional values of a logarithmic function with the base 4"
                    class="img-responsive max-width-100-percent"
            >
        {% endimage %}
    </p>
</div>



<p class="line-height-20">
    <b>6. </b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text6-1'|trans }},
    <span  class="orange-color cursor-hand" onclick="toggleUniversal('problem1-solution1-step2-help-6')">
                                        <b>{{ 'textBook.logarithms.logarithmicInequalities.problem1-gorup1-solution1-step2-text6-2'|trans }}</b>
                                    </span> :)
</p>