<section id="logarithmicInequalitiesIntroduction">
    <div class="container both-sides-text-alignment margin-bottom-20">

        {# VIDEO INTRODUCTION #}
        <div class="row">
            <div class="col-md-12">
                <div class="list-heading uppercase-transform">
                    <h6>
                        {{ 'basic_words.welcome'|trans }}!
                    </h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 margin-top-10 text-center margin-bottom-30">
                <video
                        id="videoIntroductionLI" class="text-center max-width-40-percent"
                        onplaying="resizeVideo('videoIntroductionLI')" controls
                >
                    <source
                            src="{{ asset('videos/textBook/logarithms/inequalities/introduction/01-LI-Introduction.mp4') }}"
                            type="video/mp4"
                    >
                </video>
            </div>
        </div>


        {# WHAT TO EXPECT #}
        <div class="row">
            <div class="col-md-12">
                <div class="list-heading uppercase-transform">
                    <h6>
                        <span>I. </span>
                        {{ 'textBook.logarithms.logarithmicInequalities.introduction.head1'|trans }}
                    </h6>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 relative margin-top-10">
                <section>
                    <!--======= List With Icons =========-->
                    <ul class="list-style list-w-bullets check text-uppercase">
                        <li class="padding-bottom-0">
                            {{ 'textBook.logarithms.logarithmicInequalities.introduction.text1'|trans }}
                                <p class="margin-bottom-5 margin-top-5 font-13px"> - {{ 'textBook.logarithms.logarithmicInequalities.introduction.text1-1'|trans }}</p>
                                <p class="margin-bottom-5 font-13px"> - {{ 'textBook.logarithms.logarithmicInequalities.introduction.text1-2'|trans }}</p>
                                <p class="margin-bottom-5 font-13px"> - {{ 'textBook.logarithms.logarithmicInequalities.introduction.text1-3'|trans }}</p>
                                <p class="margin-bottom-5 font-13px"> - {{ 'textBook.logarithms.logarithmicInequalities.introduction.text1-4'|trans }}</p>
                                <p class="margin-bottom-5 font-13px"> - {{ 'textBook.logarithms.logarithmicInequalities.introduction.text1-5'|trans }}</p>
                                <p class="margin-bottom-5 font-13px"> - {{ 'textBook.logarithms.logarithmicInequalities.introduction.text1-6'|trans }}</p>
                        </li>
                        <li>{{ 'textBook.logarithms.logarithmicInequalities.introduction.text2'|trans }}</li>
                        <li>{{ 'textBook.logarithms.logarithmicInequalities.introduction.text3'|trans }}</li>
                        <li>{{ 'textBook.logarithms.logarithmicInequalities.introduction.text4'|trans }}</li>
                    </ul>
                </section>
            </div>

            {# FOUR TYPES OF LI #}
            <div class="col-md-8 margin-top-10 text-right">
                {% image '@AppBundle/Resources/public/images/textBook/logarithms/inequalities/contentMap2.png' %}
                    <img
                            src="{{ asset_url }}" alt="Logarithmic Inequalities - content MAP"
                            class="img-responsive max-width-100-percent"
                    >
                {% endimage %}
            </div>
        </div>

        {# WHAT TO DO #}
        <div class="row margin-top-20">
            <div class="col-md-12">
                <div class="list-heading uppercase-transform">
                    <h6>
                        <span>II. </span>
                        {{ 'textBook.logarithms.logarithmicInequalities.introduction.head2'|trans }}
                    </h6>
                </div>
            </div>
        </div>
        <div class="row padding-top-10">
            {# THINK, THINK, THINK!  #}
            <div class="col-md-4 margin-bottom-30">
                <div class="icon-box ib-style-4 ib-center  ib-bordered ib-bordered-light ib-small ib-circle i-large">
                    <div class="ib-icon">
                        <i class="fa fa-lightbulb-o text-primary"></i>
                    </div>
                    <div class="ib-info">
                        <h4 class="h6"> {{ 'textBook.logarithms.logarithmicInequalities.introduction.text6-1'|trans }}</h4>
                        <p class="font-14px">{{ 'textBook.logarithms.logarithmicInequalities.introduction.text6-2'|trans }}</p>
                    </div>
                </div>
            </div>

            {# CHALLENGE YOURSELF #}
            <div class="col-md-4 margin-bottom-30">
                <div class="icon-box ib-style-4 ib-center ib-bordered  ib-bordered-light ib-small ib-circle i-large">
                    <div class="ib-icon">
                        <i class="fa fa-smile-o  text-primary"></i>
                    </div>
                    <div class="ib-info">
                        <h4 class="h6"> {{ 'textBook.logarithms.logarithmicInequalities.introduction.text7-1'|trans }}</h4>
                        <p class="font-14px">{{ 'textBook.logarithms.logarithmicInequalities.introduction.text7-2'|trans }}</p>
                    </div>
                </div>
            </div>

            {# CHALLENGE EVERY PROCEDURE #}
            <div class="col-md-4 margin-bottom-30">
                <div class="icon-box ib-style-4 ib-center ib-bordered  ib-bordered-light ib-small ib-circle i-large">
                    <div class="ib-icon">
                        <i class="fa fa-magic text-primary"></i>
                    </div>
                    <div class="ib-info">
                        <h4 class="h6"> {{ 'textBook.logarithms.logarithmicInequalities.introduction.text8-1'|trans }}</h4>
                        <p class="font-14px">{{ 'textBook.logarithms.logarithmicInequalities.introduction.text8-2'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>

        {# WHAT IS THE REWARD #}
        <div class="row ">
            <div class="col-md-12">
                <div class="list-heading uppercase-transform">
                    <h6>
                        <span>III. </span>
                        {{ 'textBook.logarithms.logarithmicInequalities.introduction.head3'|trans }}
                    </h6>
                </div>
            </div>
        </div>
        <div class="row margin-top-10 margin-bottom-30">
            <div class="col-md-6">
                <div class="progress-bars style-2">
                    <div class="bar">
                        <p>
                            {{ 'textBook.logarithms.logarithmicInequalities.introduction.text12'|trans }} :)
                        </p>

                        <div class="progress" data-percent="95%">
                            <div class="progress-bar orange-background"></div>
                        </div>
                    </div>

                    <div class="bar">
                        <p>
                            {{ 'textBook.logarithms.logarithmicInequalities.introduction.text11-1'|trans }} :))
                            {{ 'textBook.logarithms.logarithmicInequalities.introduction.text11-2'|trans }}
                        </p>

                        <div class="progress" data-percent="75%">
                            <div class="progress-bar "></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="progress-bars style-2">
                    <div class="bar">
                        <p>
                            {{ 'textBook.logarithms.logarithmicInequalities.introduction.text9'|trans }}
                        </p>

                        <div class="progress" data-percent="80%">
                            <div class="progress-bar"></div>
                        </div>
                    </div>

                    <div class="bar">
                        <p>
                            {{ 'textBook.logarithms.logarithmicInequalities.introduction.text10'|trans }}
                        </p>

                        <div class="progress" data-percent="90%">
                            <div class="progress-bar orange-background"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# HOW TO START #}
        <div class="row" id="LogarithmicInequalitiesContentMap">
            <div class="col-md-12">
                <div class="list-heading uppercase-transform">
                    <h6>
                        <span>IV. </span>
                        {{ 'textBook.logarithms.logarithmicInequalities.introduction.head4'|trans }}
                    </h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 relative margin-top-10">
                <p>
                    {{ 'textBook.logarithms.logarithmicInequalities.introduction.text5'|trans }}
                </p>
            </div>
            <div class="col-md-12 margin-top-30 text-center">
                {#INTRODUCTION#}
                {% include '@App/Textbook/Logarithms/LogarithmicInequalities/Includes/contentMap.html.twig' %}
            </div>
        </div>

    </div>
</section>
