<section id="logarithmicInequalitiesIntroduction">
    <div class="container both-sides-text-alignment">

        {# WHAT TO EXPECT #}
        <div class="row">
            <div class="col-md-12">
                <div class="list-heading uppercase-transform">
                    <h6>
                        <span>I. </span>
                        {{ 'textBook.logarithms.logarithmicInequalities.introduction.head1'|trans }}
                    </h6>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 relative margin-top-20">
                <p>
                    <b>{{ 'textBook.logarithms.logarithmicInequalities.introduction.text1'|trans }}</b>
                </p>
                <div class="margin-left-20">
                    <p>{{ 'textBook.logarithms.logarithmicInequalities.introduction.text1-1'|trans }}</p>
                    <p>{{ 'textBook.logarithms.logarithmicInequalities.introduction.text1-2'|trans }}</p>
                    <p>{{ 'textBook.logarithms.logarithmicInequalities.introduction.text1-3'|trans }}</p>
                    <p>{{ 'textBook.logarithms.logarithmicInequalities.introduction.text1-4'|trans }}</p>
                    <p>{{ 'textBook.logarithms.logarithmicInequalities.introduction.text1-5'|trans }}</p>
                    <p>{{ 'textBook.logarithms.logarithmicInequalities.introduction.text1-6'|trans }}</p>
                </div>
                <p class="margin-top-30">
                    <b>{{ 'textBook.logarithms.logarithmicInequalities.introduction.text2'|trans }}</b>
                </p>
                <p class="margin-top-30">
                    <b>{{ 'textBook.logarithms.logarithmicInequalities.introduction.text3'|trans }}</b>
                </p>
                <p class="margin-top-30">
                    <b>{{ 'textBook.logarithms.logarithmicInequalities.introduction.text4'|trans }}</b>
                </p>
            </div>

            {# FOUR TYPES OF LI #}
            <div class="col-md-8 margin-top-20 text-right">
                {% image '@AppBundle/Resources/public/images/textBook/logarithms/inequalities/introduction.gif' %}
                    <img src="{{ asset_url }}" alt="Logarithmic Inequalities - content MAP" class="img-responsive max-width-100-percent" >
                {% endimage %}
            </div>
        </div>

        {# WHAT TO DO #}
        <div class="row margin-top-20">
            <div class="col-md-12">
                <div class="list-heading uppercase-transform">
                    <h6>
                        <span>II. </span>
                        {{ 'textBook.logarithms.logarithmicInequalities.introduction.head2'|trans }}
                    </h6>
                </div>
            </div>
        </div>

        {# WHAT IS THE REWARD #}
        <div class="row">
            <div class="col-md-12">
                <div class="list-heading uppercase-transform">
                    <h6>
                        <span>III. </span>
                        {{ 'textBook.logarithms.logarithmicInequalities.introduction.head3'|trans }}
                    </h6>
                </div>
            </div>
        </div>

        {# HOE TO START #}
        <div class="row">
            <div class="col-md-12">
                <div class="list-heading uppercase-transform">
                    <h6>
                        <span>IV. </span>
                        {{ 'textBook.logarithms.logarithmicInequalities.introduction.head4'|trans }}
                    </h6>
                </div>
            </div>
        </div>

    </div>
</section>
