{# JOKE #}
<section class="testimonial style-4 padding-bottom-80 padding-top-20">
    <div class="container">
        <div class="testi">
            <div class="text-in">
                <p class="font-crimson margin-0">
                    {{ 'book.game.joke.beginning.text-1'|trans }}
                </p>
                <p class="font-crimson margin-0">
                    {{ 'book.game.joke.beginning.text-2-1'|trans }}:
                    "{{ 'book.game.joke.beginning.text-2-2'|trans }}"
                </p>
                <p class="font-crimson margin-0">
                    {{ 'book.game.joke.beginning.text-3-1'|trans }}:
                    "{{ 'book.game.joke.beginning.text-3-2'|trans }}"
                </p>
                <p class="font-crimson margin-0">
                    {{ 'book.game.joke.beginning.text-4-1'|trans }}:
                    "{{ 'book.game.joke.beginning.text-4-2'|trans }}"
                </p>
            </div>
        </div>
    </div>
</section>

<section class="padding-bottom-80">
    <div class="container">
        <div class="row">
            {# RULES EXPLANATION #}
            <div class="col-md-6 relative margin-top-40">
                <p>  {{ 'book.game.introduction.text1'|trans }}</p>
                <p>
                    {{ 'book.game.introduction.text2'|trans }}:
                    <span class="uppercase-transform"><b>"{{ 'book.game.header'|trans }}"</b></span>
                </p>
                <p>
                    {{ 'book.game.introduction.text3-1'|trans }}
                </p>
                <p>
                    {{ 'book.game.introduction.text4'|trans }}
                </p>
            </div>

            {# KRYPTOLOGY FACTS #}
            <div class="col-md-6">
                <div class="icon-box ib-style-5 ib-center ib-text-alt ib-bordered ib-bordered-white ib-bordered-thin ib-medium ib-circle">
                    <div class="text-center">
                        {% image '@AppBundle/Resources/public/images/book/first-chapter/kryptology.gif' %}
                        <img src="{{ asset_url }}" alt="History: medical sign"
                             class="information-box-picture max-width-200">
                        {% endimage %}
                    </div>
                    <div class="ib-info information-box-text">
                        <h4 class="h6">{{ 'book.game.kryptlogy.header'|trans }}</h4>
                        <p>{{ 'book.game.kryptlogy.text1-1'|trans }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>